<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap"
    rel="stylesheet">
</head>
<body>


<div class = "col-md-12 text-center p-5 mt-5 display-1">
<h1 class="display-1 text-secondary"> ("T_T") </h1>
			<h2 class="display-3 text-secondary"> 404 : Math Not Found </h2>

	</div>
<div class="container" style="margin-left: 770px">
     <p>Uh Oh! It looks like this page doesn't exist yet. You could</p>
  <ul>
      <li><span> <a href="{% url 'index' %}">Go To Homepage</a></span></li>
<li>Check if you misspelt the name of a topic</li>


</ul>
<div class="container" style="margin-left: -216px">
              <p>If you feel we're missing lecture notes on a topic, write to us at <span><a href="mailto:animations@fossee.in">animations@fossee.in</a> </span>! We'd love your feedback!</p>

</div>

</div>
</body>