{% extends 'base.html' %}
{% block title %} Add Submission {% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "dashboard" %}
    {% breadcrumb "Internship" "add-submission" %}
    <!-- WRONG CRUMBS -->
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    <div class="container">
        {% include 'partials/_alerts.html' %}

        <table class="table table-borderless">
            <tbody>
            {% for i in assigned_topic %}
                <tr>
                    <td>{{ i.topic_id.internship_id }} - {{ i.topic_id }} -> <b>{{ i.subtopic_name }}</b></td>
                    <td><a href="{% url  'add-submission-subtopic' i.subtopic_hash %}">Manage Submissions</a></td>
                    <td>{{ i.subtopic_status|title }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <br> {% endblock %}
