{% extends 'base.html' %}
{% block title %} Add Submission {% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "dashboard" %}
    {% breadcrumb "Internship" "add-submission" %}
    <!-- WRONG CRUMBS -->
{% endblock %}


{% block content %}
    {% render_breadcrumbs %}
    <div class="container">
        {% include 'partials/_alerts.html' %}

        <table class="table table-borderless">
            <tbody>
            {% for i in assigned_topic %}
                <tr>
                    {% if i.subtopic_status == "ACCEPTED" %}
                        <div class="bs-callout bs-callout-success">
                        {% elif i.subtopic_status == "REJECTED" %}
                        <div class="bs-callout bs-callout-danger">
                            {% elif i.subtopic_status == "WAITING" %}
                            <div class="bs-callout bs-callout-warning">
                            {% else %}
                            <div class="bs-callout bs-callout-info">
                                {% endif %}
                        <div class="text-muted">{{ i.topic_id.internship_id }} &rarr; {{ i.topic_id }}</div>
                        <h4>{{ i.subtopic_name }}</h4>
                        &nbsp;
                        <div class="float-right">
                            <a href="{% url  'add-submission-subtopic' i.subtopic_hash %}">Manage Submissions</a>
                        </div>
                    </div>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <br> {% endblock %}
