{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block title %} Add Topics {% endblock %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "dashboard" %}
    {% breadcrumb "Add Topics" "add-topics" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    <style>
        label {
            display: none;
        }
    </style>

    <!-- Page Content -->
    <div class="container">
        {% include 'partials/_alerts.html' %}
        <div class="row">
            <form method="POST">
                {% csrf_token %}
                <label>Internship: </label>
                <select name="search_internship" onchange="submit();">
                    {% if internship in internship_all %}
                        <option>{{ internship }}</option>
                    {% else %}
                        <option>Select Internship</option>
                    {% endif %}
                    {% for i in internship_all %}
                        {% if i != internship %}
                            <option value="{{ i.pk }}">{{ i.internship_topic }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </form>
        </div>


        <div class="" style="padding-top: 3%;">
            {% if internship %}
                <h3 class="text-info"> {{ internship.internship_topic }}</h3>
                <hr/>
            {% endif %}
            <form method="POST" class="form-group" name="AddTopic">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ internship.id }}">
                <span>New topic: &nbsp;</span>{{ form.topic }}
                <input type="submit" class="btn btn-success" value="Add">
            </form>
            <table class="table  table-sm" id="topics_table">
                {% if internship %}
                    <thead class="table-primary">
                    <tr>
                        <th>#</th>
                        <th>Topic</th>
                        <th></th>
                        <th colspan="2">Rearrange</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tp in topic %}
                        {% if tp.internship_id_id == internship.id %}
                            <tr>
                                <td>{{ tp.topic_order }}</td>
                                <td>
                                    {{ tp.topic_name }}
                                </td>
                                <td>
                                    <a href="{% url 'add-subtopics' tp.internship_id.internship_url tp.topic_url %}">Add / View Subtopics</a>
                                </td>
                                <td style="width: 100px">
                                    <form method="POST" class="form-group" name="RearrangeTopic">
                                        <input type="hidden" value="{{ tp.id }}" name="topicid">
                                        {% csrf_token %} {{ topic_order|crispy }}
                                <td>
                                    <input class="btn btn-sm btn-outline-success" type="submit" name="submit" value="Change">
                                </td>
                                </form>
                            <td>
                                <a href="{% url 'delete-topic' tp.pk %}" class="btn btn-outline-danger" >Delete</a>
                            </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <!-- <td colspan="5">
                            <form method="POST" class="form-group" name="AddTopic">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ internship.id }}">
                                <span>New topic: &nbsp;</span>{{ form.topic }}
                                <input type="submit" class="btn btn-success" value="Add">
                            </form>
                        </td> -->
                        <td></td>
                    </tr>
                    </tbody>
                {% endif %}
            </table>
        </div>
    </div>
    {% endblock %}
    <!-- /.container -->
    <script>
    /*    function resetImage(){
            document.getElementById('status_image').src=""
        }

        function addData() {
            var csrf_token = '{{ csrf_token }}';
            var topic = document.getElementById('id_topic').value
            console.log(topic)
            if (topic == null || topic.trim() === '') {
                alert("Please enter the topic name")
            } else {
                var xhttp = new XMLHttpRequest();
                var mainTable = document.getElementById("topics_table");
                last_table_index_value = parseInt(mainTable.lastElementChild.lastElementChild.cells[0].textContent)+1;
                var row = mainTable.insertRow()
                var cell1 = row.insertCell(0)
                var cell2 = row.insertCell(1)
                var cell3 = row.insertCell(2)
                var cell4 = row.insertCell(3)
                cell1.innerHTML = last_table_index_value
                cell2.innerHTML = '<div class="text-muted">' + topic + '</div>'
                document.getElementById('status_image').src="{% static '/web-files/img/multiuse-svgs/wait.svg' %}"
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        last_row_index = mainTable.rows.length
                        mainTable.rows[last_row_index-1]
                        cell2.innerHTML = topic
                        document.getElementById('status_image').src="{% static '/web-files/img/multiuse-svgs/check.svg' %}"
                    }
                };
                xhttp.open('POST', "/dashboard/add-subtopics/{{ i_topic.internship_id.internship_url }}/{{ i_topic.topic_url }}", true);
                xhttp.setRequestHeader("X-CSRFToken", csrf_token);
                xhttp.setRequestHeader('Content-type', "application/x-www-form-urlencoded");
                xhttp.send("subtopic=" + encodeURIComponent(topic) + "&id={{ i_topic.pk }}");
            }
        }*/
    </script>
