{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Admin View Users{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "dashboard" %}
    {% breadcrumb "Add Users" "add-users" %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %} {% if user.is_superuser %}
        {% render_breadcrumbs %}

        <div class="container">
            {% include 'partials/_alerts.html' %}
            <h2>Add User</h2>
            <hr>
            <form method="POST" name="putdata" class="form-group" id="formTwo">

                {% csrf_token %} {{ form|crispy }} {{ sub_form|crispy }}

                <input class="btn btn-success" type="submit" name="submit" id="submit" value="Submit">
            </form>
            <hr/>
        </div>

        <div class="container">
            <br>
            <form method="GET" action=".">
                <div class="row">
                    <h5>Search Users:</h5> &nbsp;
                    <input class="form-control py-2 border col-lg-3" type="search" name="title_contains"
                           placeholder="Search (UserName, Intern, Staff)"/> &nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
        <div class="container">

            <br> {% if datas %}
            <table class="table" style="text-align: center; width: 100%;">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Last Activity</th>
                </tr>
                </thead>
                <tbody>
                {% for data in datas %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>{{ data.user_id }}</td>
                        <td>
                            {{ data.user_id.email }}
                        </td>
                        <td>
                            {{ data.user_role }}
                        </td>
                        <td>
                            {{ data.user_id.last_login }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="container">
                <p>
                    No User Information is Available!
                </p>
            </div>
        {% endif %}

            <nav aria-label="...">
                {% if datas.has_other_pages %}
                    <ul class="pagination">
                        {% if datas.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ datas.previous_page_number }}" class="page-link">&laquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">&laquo;</a>
                            </li>
                        {% endif %} {% for i in datas.paginator.page_range %} {% if datas.number == i %}
                        <li class="li.page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>

                    {% else %}
                        <li class="page-item">
                            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                        </li>
                    {% endif %} {% endfor %} {% if datas.has_next %}
                        <li class="page-item">
                            <a href="?page={{ datas.next_page_number }}" class="page-link">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                        </li>
                    {% endif %}
                    </ul>
                {% endif %}
            </nav>
            <br>
            <br>
        </div>
        <br>
    {% endif %}
    {% endif %}
{% endblock %}
