{% extends 'base.html' %}{% load crispy_forms_tags %} {% block title %}Dashboard{% endblock %}{% block content %}
<script type="text/javascript" language="javascript">
    function checkfile(sender) {
        var validExts = new Array(".csv");
        var fileExt = sender.value;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
            alert("Invalid file selected, valid files are of " +
                validExts.toString() + " types.");
            return false;
        } else return true;
    }
</script>
<div class="container" style="padding-top: 5%; padding-bottom: 5%;">
    <div class="container custom-file">
        <form method="POST" id="formOne">
            {% csrf_token %}
            <div class="row">
                <input class="form-group float-left" type="file" name="csv_file" id="csv_file" onchange="checkfile(this);" />
                <input type="submit" value="Upload File" class="btn btn-info" name="upload_file">
            </div>
        </form>
    </div>

    <div class="container" style="padding-top: 3%;">
        <hr>
        <form method="POST" name="putdata" class="form-group" id="formTwo">

            {% csrf_token %} {{ form|crispy }}
            <input class="btn btn-success" type="submit" name="submit" id="submit" value="Submit">
        </form>
    </div>

</div>

{% endblock %}