{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Admin manage Intern{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "dashboard" %}
    {% breadcrumb "Manage Interns" "admin_manage_interns" %}
{% endblock %}

{% block content %}
        {% render_breadcrumbs %}
    {% if user.is_authenticated %} {% if user.is_superuser %}
        <style>
            label {
                display: none;
            }
        </style>
        <div class="container">
            {% include 'partials/_alerts.html' %}
                {% if datas %}
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Intern Name</th>
                        <th>Internship</th>
                        <th></th>
                        <th></th>
                        <th>Set Status</th>
                    </tr>
                    </thead>
                    {% for datas in datas %}
                        <tbody>
                        <tr>
                            <td>{{ datas.user_id }}</td>
                            <td>{{ datas.user_status }}</td>
                            <td>
                                <form method="POST" class="form-group" name="ManageIntern">
                            <td>
                                <input type="hidden" value="{{ datas.id }}"
                                       name="id"> {% csrf_token %} {{ form|crispy }}
                            </td>
                            <td>
                                <input class="btn btn-success" type="submit" name="submit" value="Submit">
                            </td>
                            </form>
                            </td>
                        </tr>

                        </tbody>

                    {% endfor %}
                </table>
            {% endif %}

            <script>
                $('.requiredField').hide();
            </script>
        </div>
    {% endif %} {% endif %} {% endblock %}