{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Admin View Intern{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "dashboard" %}
    {% breadcrumb "Manage Internship" "" %}
    {% breadcrumb "View Interns" "" %}
{% endblock %}

{% block content %}
        {% render_breadcrumbs %}
    <div class="container">
        {% if user.is_authenticated %} {% if user.is_superuser %}
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Intern Name</th>
                </tr>
                </thead>
                {% if datas %}
                    {% for datas in datas %}
                        <tbody>
                        <tr>
                            <td>{{ datas.user_id }}</td>
                        </tr>
                        </tbody>
                    {% endfor %}
                {% endif %}
            </table>
        {% endif %} {% endif %}
    </div>
{% endblock %}