{% extends 'base.html' %}{% block title %}Approve Contents{% endblock %}{% block content %}
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">
                        <i class="fa fa-home"></i> Index</a>
                </li>
                <li class="breadcrumb-item active"> Approve Contents</li>
            </ol>
        </nav>
    </div>
</section>
<h1>Aprove contents</h1>


{% endblock %}