{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Assign Topics {% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% load static %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "dashboard" %}
    {% breadcrumb "Assign Topics" "assign-topics" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    <style>
        label {
            display: none;
        }
    </style>
    <!-- Page Content -->
    <div class="container">
        {% include 'partials/_alerts.html' %}
        <div class="row">
            <h2 class="text-info">{{ chosen_inernship }}</h2> <br/>
        </div>

        <div class="row">
            <form method="POST">
                {% csrf_token %}
                <span>Select Internship: </span>
                <select name="search_internship" onchange="submit();">
                    {% if chosen_inernship in intern %}
                        <option>{{ chosen_inernship }}</option>
                    {% else %}
                        <option>Select Internship</option>
                    {% endif %}
                    {% for i in intern %}
                        {% if i != chosen_inernship %}
                            <option value="{{ i.pk }}">{{ i.internship_topic }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </form>
        </div>
        <hr/>

        <h4>Assign Sub Topic to interns</h4>

        <table class="table table-condensed table-sm">
            <thead class="table-primary">
            <tr>
                <th>Topic</th>
                <th>Subtopic</th>
                <th colspan="2">Assigned Intern</th>
            </tr>
            </thead>
            <tbody>
            {% for i in subtopic %}
                <tr>
                    <td>
                        {{ i.topic_id }}
                    </td>
                    <td>
                        {{ i.subtopic_name }}
                    </td>

                    {% if i.assigned_user_id %}
                        <td>
                            {{ i.assigned_user_id }}
                        </td>
                        <td>
                        <form method="POST" class="form-group" name="DeleteAssign">
                            {% csrf_token %}
                            <input type="hidden" value="{{ i.subtopic_hash }}" name="deletetheassign">
                            <button name="Delete" class="btn btn-outline-danger">Delete</button>
                        </form>
                        </td>
                    {% else %}
                        <td>
                            <form method="POST" class="form-group" name="RearrangeTopic">
                                <input type="hidden" value="{{ i.id }}" name="subtopicid">
                                {% csrf_token %} {{ form|crispy }}
                        <td>
                            <input class="btn btn-outline-success" type="submit" name="submit" value="Assign">
                        </td>
                        </form>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>

    </div>

    <!-- /.container -->
{% endblock %}
