{% extends 'base.html' %}
{% load humanize %}
{% block title %} Dashboard {% endblock %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "dashboard " %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    {% include 'partials/_alerts.html' %}
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <div class="container" style="margin-top:20px; margin-bottom:100px">
                <div class="bs-callout bs-callout-info">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="col">
                                <h5 class="card-title" style="font-weight: bold;"><a href="{% url 'add-users' %}">Add
                                    users</a></h5>
                                <p class="card-text">View all the users (Interns and Staff), currently in the
                                    system and edit there details.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col ml-auto">
                                <h5 class="card-title" style="font-weight: bold;"><a href="{% url 'add-internship' %}">Add
                                    internship</a></h5>
                                <p class="card-text">Add new internship to the system. View all the current internships created.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="bs-callout bs-callout-info">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="col">
                                <h5 class="card-title" style="font-weight: bold;"><a
                                        href="{% url 'manage-internship' %}">Manage
                                    internship </a></h5>
                                <p class="card-text">Manage the internships in the system.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col ml-auto">
                                <h5 class="card-title" style="font-weight: bold;"><a
                                        href="{% url 'rearrange-topics' %}">Shift topics </a></h5>
                                <p class="card-text">Shift the internship topics and subtopics among
                                    inernships.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="bs-callout bs-callout-info">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="col">
                                <h5 class="card-title" style="font-weight: bold;"><a href="{% url 'manage-interns' %}">Manage
                                    Interns</a></h5>
                                <p class="card-text">Activate/Deactivate Intern in the system.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col ml-auto">
                                <h5 class="card-title" style="font-weight: bold;"><a
                                        href="{% url 'internship-progress' %}">Internships</a></h5>
                                <p class="card-text">View the internships in the system. Edit the topics of the internship.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>

        {% elif user.is_staff %}

            <div class="container" style="margin-top:20px; margin-bottom:100px">
                <div class="bs-callout bs-callout-info">
                    <h4 style="font-weight: lighter;"> Submissions: </h4>
                    <br>
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="col">
                                <h5 class="card-title" style="font-weight: normal;"><a
                                        href="{% url 'review-submissions' %}"> Review Submissions </a></h5>
                                <p class="card-text">Manage the data submitted by the Contributors.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col ml-auto">
                                <h5 class="card-title" style="font-weight: normal;"><a
                                        href="{% url 'internship-progress' %}">Internships Progress</a></h5>
                                <p class="card-text">View the internship progress.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <hr>
                <br>
                <div class="bs-callout bs-callout-success">
                    <h4 style="font-weight: lighter;"> Content &amp; Assignments: </h4>
                    <br>

                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="col">
                                <h5 class="card-title" style="font-weight: normal;"><a href="{% url 'add-topics' %}">Add
                                    Topics &amp; Subtopics</a></h5>
                                <p class="card-text">Add topics and subtopics to the internship.</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="col ml-auto">
                                <h5 class="card-title" style="font-weight: normal;"><a href="{% url 'assign-topics' %}">Assign
                                    Subtopics</a></h5>
                                <p class="card-text">Assign subtopics to the interns to start the internship.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <hr>
                <br>
                <div class="bs-callout bs-callout-warning">
                    <h4 style="font-weight: lighter;"> Access Control: </h4>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col">
                                <h5 class="card-title" style="font-weight: normal;"><a
                                        href="{% url 'manage-interns' %}">Intern Status</a></h5>
                                <p class="card-text">Activate / Deactivate the intern access</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="col">
                                <h5 class="card-title" style="font-weight: normal;"><a href="{% url 'interns' %}">Intern
                                    Outline</a></h5>
                                <p class="card-text">View the interns in the internship progress.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% else %}
            <div class="container" style="margin-top:40px;">
                <div class="bs-callout bs-callout-primary">
                    <h4 class="card-title" style="font-weight: lighter;"><a href="{% url 'add-submission' %}">Your
                        Submissions</a></h4>
                    <p class="card-text">View and Modify your submissions.</p>
                </div>
                <br>
                <div class="bs-callout bs-callout-info">
                    <h4 class="" style="font-weight: lighter;"><a href="{% url 'internship-progress' %}">View
                        Progress</a></h4>
                    <p class="card-text">Check the overall progress of you expected submissions.</p>
                </div>
                <br>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
