{% extends 'base.html' %}
{% block title %}Math{% endblock %}
{% block content %}
<div class="container" style="padding-top: 5%;">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab"
                href="#home"
                role="tab" aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="add-tab" data-toggle="tab"
                href="#add"
                role="tab" aria-controls="add" aria-selected="false">Add
                Intern</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="manage-tab" data-toggle="tab"
                href="#manage"
                role="tab" aria-controls="manage" aria-selected="false">Manage
                Intern</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" id="approve-tab" data-toggle="tab"
                    href="#approve"
                    role="tab" aria-controls="manage" aria-selected="false">Approve Content
                    </a>
            </li>
    </ul>

    <!-- Tab panes -->
    <div class="container" style="padding-top: 3%;">
        <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel"
                aria-labelledby="home-tab">

            </div>
            <div class="tab-pane" id="add" role="tabpanel"
                aria-labelledby="add-tab">
                <form autocomplete="off" method="POST" action="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <div class="custom-file">
                                <label class="custom-file-label"
                                    for="customFile">Upload</label>
                                <input type="file" class="custom-file-input"
                                    id="upload"
                                    name="file">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 1%;">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input class="form-control" type="text"
                                    name="name" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control" type="email"
                                    name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input class="form-control" type="text"
                                    name="topic" placeholder="Topic">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button class="btn btn-info"
                                    name="send_mail">Send Mail</button>
                            </div>
                        </div>
                    </div>

                    <div id="pass-info" class="clearfix" style="padding-top: 3%; padding-bottom: 4%;">
                        <input type="submit" class="form-control btn
                            btn-success" value="Submit">
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="manage" role="tabpanel"
                aria-labelledby="manage-tab">
                3
            </div>
            <div class="tab-pane" id="approve" role="tabpanel"
                aria-labelledby="approve-tab">
                4
            </div>
        </div>
    </div>

</div>

{% endblock %}