{% extends 'base.html' %}{% load crispy_forms_tags %}{% block title %}Delete User{% endblock %}{% block content %} {% if user.is_authenticated %} {% if user.is_superuser %}
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">
                        <i class="fa fa-home"></i> Index</a>
                </li>
                <li class="breadcrumb-item active"> Delete User</li>
            </ol>
        </nav>
    </div>
</section>
<div class="container" style="padding-top: 5%; padding-bottom: 5%;">
    {% include 'partials/_alerts.html' %}
    <div class="container" style="padding-top: 3%;">
        <hr>
        <form method="POST" name="removedata" class="form-group" id="formTwo">

            {% csrf_token %} {{ form|crispy }}
            <input class="btn btn-danger" type="submit" name="submit" id="submit" value="Submit">
        </form>
    </div>

</div>
{% endif %} {% endif %} {% endblock %}