{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Edit Text {% endblock %}
{% block extrahead %}
    <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "dashboard" %}
    {% breadcrumb "Review Submissions" "review-submissions" %}
    {% breadcrumb subtopic.subtopic_name "review-submissions-subtopic" subtopic.subtopic_hash %}
    {% breadcrumb "Edit Text" "edit-text" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    {% load static %} {{ form.media }} {% load crispy_forms_tags %}

    <style>
        .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }


        .upload-btn-wrapper input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }

        .mleft {
            margin-left: 415px;
        }

    </style>
    <div class="container">
{#        <script type="text/javascript" src="{% static " ckeditor/ckeditor-init.js " %}"></script>#}
{#        <script type="text/javascript" src="{% static " ckeditor/ckeditor/ckeditor.js " %}"></script>#}
{#        <script>#}
{#            window.CKEDITOR_BASEPATH = '/static/ckeditor/';#}
{#        </script>#}

        <form method="post" name="data" enctype="multipart/form-data"><br>{% csrf_token %}

            {{ form.media }} {{ form.as_p }}

            <div class="upload-btn-wrapper">
                <input class="btn btn-success mleft" type="submit" name="submit" id="submit" value="Save">
            </div>
        </form>
        <br>
    </div>
{% endblock %}
