{% extends 'base.html' %} {% block title %}Details{% endblock %} {% block content %}
    <section id="bc">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white text-dark">
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'index' %}">
                        <i class="fa fa-home" style="color:black"></i> Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'index' %}">
                        <i style="color:black"></i> Topics</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'home_view_data' subtopic.topic_id.internship_id %}">
                        <i style="color:black"></i> {{ subtopic.topic_id.internship_id }} </a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black">
                        <i style="color:black"></i> {{ subtopic.subtopic_name }}
                    </a>
                </li>
            </ol>
        </nav>
    </section>
    <hr>
    <div class="container">
            <thead class="thread-light">
            <tr>
                <th>
                    <h1>{{ subtopic.subtopic_name }}</h1>
                </th>
            </tr>
            </thead>
            <body>
            {% for data in datas %}
                {% if data.data_status == 'ACCEPTED' and data.subtopic_id_id == subtopic.id and data.subtopic_id.topic_id.internship_id.internship_status == 'COMPLETED'%}

                    <tr>
                        {% if data.data_content != "NULL" %}
                            <td>
                                <p></p>
                                {{ data.data_content |safe }}
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if data.data_image.url != "NULL" %}
                            <td>
                                <p></p>
                                {% for i in imagesize %}
                                        {% if i.data_id_id == data.pk %}
                                            <img src="{{ data.data_image.url }}" width="{{ i.image_width }}"
                                                 height="{{ i.image_height }}" style="display:block; margin:0 auto;">
                                            <p align="center" style="color: #6E6E6E; font-size: 13px;">{{ i.image_caption }}</p>
                                        {% endif %}
                                    {% endfor %}
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if data.data_video.url != "NULL" %}
                            <td>
                                <p></p>
                                <video width='70%' style="display:block; margin:0 auto;" controls>
                                    <source src="{{ data.data_video.url }}" type='video/mp4'>
                                    Your browser does not support the video tag.
                                </video>
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            </body>
        </table>
        <div style="background-color: lightgrey">
            <table>
                <tr>
                    <td>Data Provided By:-</td>
                </tr>
                <tr>
                    <td>Contributor Name: {{ contributor.contributor }}</td>
                </tr>
                <tr>
                    <td>Mentored By: {{ contributor.mentor }}</td>
                </tr>
                <tr>
                    <td>Monitored By: {{ contributor.professor }}</td>
                </tr>
                <tr>
                    <td>Aproved On: {{ contributor.data_aproval_date }}</td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <hr>
    <br> {% endblock %}