{% extends 'base.html' %}
{% block title %} Home View Data {% endblock %}

{% load django_bootstrap_breadcrumbs %}


{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb  "Topics" "/#topics" %}
    {% breadcrumb  details "fossee_math_pages.views.home_view_data" details.internship_topic %}


    <section id="bc">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white text-dark">
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'index' %}">
                        <i class="fa fa-home" style="color:black"></i> Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'index' %}">
                        <i style="color:black"></i> Topics</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black">
                        <i style="color:black"></i> {{ details.internship_topic }} </a>
                </li>
            </ol>
        </nav>
    </section>


    <hr>
    <div class="container">
        <div>
            <form method="POST" action="{% url 'home_view_data' details.pk %}">
                {% csrf_token %}
                <table>
                    <tr>
                        <td> Search :</td>
                        <td>
                            <div class="input-group">
                                <input class="form-control py-2 border-right-0 border" type="search"
                                       name="title_contains"
                                       placeholder="Search For Topics or Sub-topics"/>
                                <span class="input-group-append">
                            <div class="input-group-text bg-transparent">
                                <i class="fa fa-search"></i>
                            </div>
                        </span>
                            </div>
                        </td>
                        <td>
                            <input class="btn btn-primary" type="submit" name="submit" id="submit" value="Search">
                            {#                            <a href="{% url 'home_view_data' details.pk %}" class="btn btn-primary">Search</a>#}
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        {% if datas %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Topic Name</th>
                    <th scope="col">Sub Topic Name</th>
                </tr>
                </thead>
                <tbody>
                {% for data in datas %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ data.topic_id }}</td>
                        <td>{{ data.subtopic_name }}</td>
                        {% for i in topic %}
                            {% if i.topic_id == data.topic_id %}
                                <td><a href="{% url 'home_details' i.topic_id_id %}">View</a></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <hr>
    <div class="container">
        <hr>
        <h3>{{ details.internship_topic }}</h3>
        <hr> {% for i in topics %}
        <table>
            <tbody>
            <tr>
                <th scope="row">
                    <h4>{{ forloop.counter }}. {{ i.topic_name }}</h4>
                </th>
            </tr>
            {% for j in subtopics %} {% if j.topic_id_id == i.id %}
                <tr>
                    <th>
                        <h6>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <a href="{% url 'home_details' j.subtopic_name %}"> {{ j.subtopic_name }} </a>
                        </h6>
                    </th>
                </tr>
            {% endif %} {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    </div>
    <br>
    <hr>
    <br> {% endblock %}
