{% extends 'base.html' %}
{% block title %} Details {% endblock %}


{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Topics" "/#topics" %}
    {% breadcrumb subtopic.topic_id.internship_id "contents" subtopic.topic_id.internship_id.internship_url %}
    {% breadcrumb subtopic.topic_id "" %}
    {% breadcrumb subtopic.subtopic_name "home_view_details" %}


{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    <hr>
    <div class="container">
        <thead class="thread-light">
        <tr>
            <th>
                <h1>{{ subtopic.subtopic_name }}</h1>
            </th>
        </tr>
        </thead>
        <body>
        {% for data in datas %}
            {% if subtopic.subtopic_status == 'ACCEPTED' and data.subtopic_id_id == subtopic.id and data.subtopic_id.topic_id.internship_id.internship_status == 'COMPLETED' %}

                <tr>
                    {% if data.data_content != "NULL" %}
                        <td>
                            <p></p>
                            {{ data.data_content |safe }}
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    {% if data.data_image.url != "NULL" %}
                        <td>
                            <p></p>
                            {% for i in imagesize %}
                                {% if i.data_id_id == data.pk %}
                                    <img src="{{ data.data_image.url }}" width="{{ i.image_width }}"
                                         height="{{ i.image_height }}" style="display:block; margin:0 auto;">
                                    {% if data.data_caption != None %}
                                        <p align="center" style="font-size: 15px">{{ data.data_caption }}</p>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    {% if data.data_video.url != "NULL" %}
                        <td>
                            <p></p>
                            <video width='70%' style="display:block; margin:0 auto;" controls>
                                <source src="{{ data.data_video.url }}" type='video/mp4'>
                                Your browser does not support the video tag.
                            </video>
                            {% if data.data_caption != None %}
                                <p align="center" style="font-size: 15px">{{ data.data_caption }}</p>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
        {% if subtopic.subtopic_status != 'ACCEPTED' %}
            <br>
            <h4 class="text-center text-muted"><u>Submission Under Review</u></h4>
            <br>
        {% endif %}
        </body>
        </table>
        {% if subtopic.subtopic_status == 'ACCEPTED' and subtopic.topic_id.internship_id.internship_status == 'COMPLETED' %}

            <div style="background-color: #ffffff">
                <hr>
                <table>
                    <tr>
                        <td><i>Contributor: {{ contributor.contributor }} </i></td>
                    </tr>
                    <!--<tr> <td>Contributor Name: </td>  </tr>-->
                    <tr>
                        <td><i>Mentor & Editor: {{ contributor.mentor }}</i></td>
                    </tr>
                    <tr>
                        <td><i>Verified by: {{ contributor.professor }}</i></td>
                    </tr>
                    <tr>
                        <td>Approved On: {{ contributor.data_aproval_date }}</td>
                    </tr>
                </table>
                <hr>
                <i>The following notes and their corrosponding animations was created by the above-mentioned contributor
                    and is freely avilable under CC licence.</i>

            </div>
        {% endif %}
    </div>
    <br>
    <hr>
    <br> {% endblock %}
