{% extends 'base.html' %} {% block title %}Home View Data{% endblock %} {% block content %}
    <section id="bc">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white text-dark">
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'index' %}">
                        <i class="fa fa-home" style="color:black"></i> Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'index' %}">
                        <i style="color:black"></i> Topics</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black">
                        <i style="color:black"></i> {{ details.internship_topic }} </a>
                </li>
            </ol>
        </nav>
    </section>
    <hr>
    <div class="container">

        <h1 style="font-weight:normal;">{{ details.internship_topic }}</h1>
        <br>

        <form method="POST" action="{% url 'home_view_data' details.internship_topic %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td> Search: &nbsp;&nbsp;</td>
                    <td>
                        <div class="input-group">
                            <input class="form-control py-2 border-right-0 border" type="search"
                                   name="title_contains"
                                   placeholder="Search for topics/subtopics"/>
                            <span class="input-group-append">
                            <div class="input-group-text bg-transparent">
                                <i class="fa fa-search"></i>
                            </div>
                        </span>
                        </div>
                    </td>
                    <td>
                        <input class="btn btn-primary" type="submit" name="submit" id="submit" value="Search">
                    </td>
                </tr>
            </table>
        </form>

        <br>
        <br>
        <h2 style="font-weight:normal">Contents</h2>

        <hr>
        <ol>
            {% for i in topics %}
                <li> {{ i.topic_name }}
                    <ul style="list-style-type: circle;">
                        {% for j in subtopics %}
                            {% if j.topic_id_id == i.id %}
                                <li><a href="{% url 'home_details' details.internship_topic j.subtopic_name %}"> {{ j.subtopic_name }} </a></li>
                            {% endif %}{% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ol>

    </div>
    <br>
    <hr>
    <br> {% endblock %}