{% extends 'base.html' %}
{% block title %} Details {% endblock %}
{% load static %}{% load staticfiles %}

{% block extrahead %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>
{% endblock %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Topics" "/#topics" %}
    {% breadcrumb subtopic.topic_id.internship_id "contents" subtopic.topic_id.internship_id.internship_url %}
    {% breadcrumb subtopic.topic_id "contents" subtopic.topic_id.internship_id.internship_url %}
    {% breadcrumb subtopic.subtopic_name "home_view_details" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        .cell-breakWord {
            word-wrap: break-word;
            max-width: 1px;
        }

        video, footer {
            isolation: isolate;
            display: inline-block;
        }

        h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
            display: block;
            content: " ";
            height: 60px;
            margin-top: -60px;
            visibility: hidden;
        }

        element {
        @include float-left;
        }

        .another-element {
        @include float-right;
        }

        .one-more {
        @include float-none;
        }

        .toc-link::before {
            background-color: rgb(255, 255, 255);
            content: ' ';
            /* display: inline-block; */
            /* height: ; */
            left: 0;
            margin-top: 0;
            position: absolute;
            width: 0;
        }

        .dark-mode {
            background-color: black;
            color: white;
        }

        .float {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 40px;
            left: 40px;
            background-color: #0C9;
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            box-shadow: 2px 2px 3px #999;
        }
    </style>
    <hr>
    <script>
        function toggle(ele) {
            var cont = document.getElementById('toc');
            cont.style.display = cont.style.display == 'none' ? 'block' : 'none';
        }

        $(document).ready(function () {
            if (window.matchMedia("(max-width: 767px)").matches) {
                // //mobile
                // $("#toc_container").toggleClass('js-toc');
                $("#content_container").toggleClass('col col-xl-10');
                $("#toc_container").css({
                    "color": "orange",
                    "font-size": "large",
                    "max-width": "100%",
                    "word-wrap": "none",
                    "position": "relative",
                });
            } else {
                // //desktop
                // $("#toc_container").toggleClass('js-toc d-none d-md-block position-fixed');
                // $("#content_container").toggleClass('col col-xl-9');
            }
        });
    </script>

    <div class="container">
        <div class="row">
            <div id="toc_container" class='js-toc col' data-spy="affix"
                 style="width:20%; max-height:inherit; color:orange; font-size: large; word-wrap:break-word; position: fixed;"></div>
            <div class="col" id="content_container" style="margin-left: 30%; max-width: 80%;">
                <div class="js-toc-content">
                    <table>
                        {% if subtopic.subtopic_status == 'ACCEPTED' %}
                            <thead class="thread-light">
                            <tr>
                                <th>
                                    <h1>{{ subtopic.subtopic_name }}</h1>
                                </th>
                            </tr>
                            <tr>
                                <td>

                                </td>
                            </tr>
                            </thead>
                        {% endif %}
                        <tbody style="font-size: medium;">
                        {% for data in datas %}
                            {% if subtopic.subtopic_status == 'ACCEPTED' and data.subtopic_id_id == subtopic.id and data.subtopic_id.topic_id.internship_id.internship_status == 'COMPLETED' %}
                                <tr>
                                    {% if data.data_content != "NULL" %}
                                        <td style="width:100%" class="cell-breakWord">
                                            <p></p>
                                            {{ data.data_content |safe }}

                                        </td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    {% if data.data_image.url != "NULL" %}
                                        <td>
                                            <p></p>
                                            {% for i in imagesize %}
                                                {% if i.data_id_id == data.pk %}
                                                    <img src="{{ data.data_image.url }}" width="{{ i.image_width }}"
                                                         style="display:block; margin:0 auto;" alt="Image not loaded">
                                                    {% if data.data_caption != None %}
                                                        <p align="center"
                                                           style="font-size: 15px">{{ data.data_caption }}</p>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    {% if data.data_video.url != "NULL" %}
                                        <td>
                                            <p></p>
                                            <video width='70%' style="display:block; margin:0 auto;" controls>
                                                <source src="{{ data.data_video.url }}" type='video/mp4'>
                                                Your browser does not support the video tag.
                                            </video>
                                            {% if data.data_caption != None %}
                                                <p align="center" style="font-size: 15px">{{ data.data_caption }}</p>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% if subtopic.subtopic_status != 'ACCEPTED' %}
                            <br>
                            <h4 class="text-center text-muted"><u>Submission Under Review</u></h4>
                            <br>
                        {% endif %}
                        </tbody>
                    </table>
                </div>

                {% if subtopic.subtopic_status == 'ACCEPTED' and subtopic.topic_id.internship_id.internship_status == 'COMPLETED' %}
                    <div>
                        <hr>
                        <table>
                            <tr>
                                <td><i>Contributor: {{ contributor.contributor }} </i></td>
                            </tr>
                            <tr>
                                <td><i>Mentor & Editor: {{ contributor.mentor }}</i></td>
                            </tr>
                            <tr>
                                <td><i>Verified by: {{ contributor.professor }}</i></td>
                            </tr>
                            <tr>
                                <td>Approved On: {{ contributor.data_aproval_date }}</td>
                            </tr>
                        </table>
                        <hr>
                        <i>The following notes and their corrosponding animations was created by the above-mentioned
                            contributor and is freely avilable under CC licence.</i>
                    </div>
                {% endif %}
            </div>
        </div>

        <button onclick="myFunction()" class="float">
            <img src="{% static '/web-files/img/multiuse-svgs/mode.svg' %}" width="45px" alt="Dark">
        </button>

        <script>
            function myFunction() {
                var element = document.body;
                element.classList.toggle("dark-mode");
            }
        </script>
    </div>
    {% if subtopic.subtopic_status == 'ACCEPTED' %}
        <script>
            var _selectIndex_2 = 0;
            var z = document.getElementsByTagName("H1")
            var i;
            for (i = 0; i < z.length; i++) {
                z[i].setAttribute("id", "select_1-" + _selectIndex_2++)
            }
            var _selectIndex = 0;
            var x = document.getElementsByTagName("H2")
            var j;
            for (j = 0; j < x.length; j++) {
                x[j].setAttribute("id", "select-" + _selectIndex++)
            }
            var _selectIndex_1 = 0;
            var y = document.getElementsByTagName("H3")
            var k;
            for (k = 0; k < y.length; k++) {
                y[k].setAttribute("id", "id-" + _selectIndex_1++)
            }
            {#newSelectBox.setAttribute("id","select-"+_selectIndex++);#}
            tocbot.init({
                tocSelector: '.js-toc',
                contentSelector: '.js-toc-content',
                headingSelector: 'h1, h2, h3, h4, h5, h6',
                ignoreSelector: '.js-toc-ignore',
                hasInnerContainers: false,
                linkClass: 'toc-link',
                extraLinkClasses: '',
                activeLinkClass: 'is-active-link',
                listClass: 'toc-list',
                extraListClasses: '',
                isCollapsedClass: 'is-collapsed',
                collapsibleClass: 'is-collapsible',
                listItemClass: 'toc-list-item',
                collapseDepth: 0,
                scrollSmooth: true,
                scrollSmoothDuration: 420,
                scrollEndCallback: function (e) {
                },
                headingsOffset: 1,
                throttleTimeout: 50,
                positionFixedSelector: null,
                positionFixedClass: 'is-position-fixed',
                fixedSidebarOffset: 'auto',
                includeHtml: true,
                onClick: true,
                orderedList: true,
                scrollContainer: 1,
                skipRendering: false,
            });
            tocbot.init();
            tocbot.refresh()


        </script>
    {% endif %}
    <br>
    <hr>
    <br>

{% endblock %}
