{% extends 'base.html' %}{% load static %}{% block title %}Home{% endblock %}{% block content %}
    <!-- Page Content -->
    <div class="container">
        <br><br>
        <!-- Heading Row -->
        <div class="row align-items-center my-5">

            <!-- /.col-lg-8 -->
            <div class="col-lg-5">
                <h2 class="font-weight-light serif">Math | FOSSEE Animations</h2>
                <p class="serif"><i>Complementing rigour with some visual treats</i></p>
            </div>
            <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'web-files/img/index-images/logo3.png' %}"
                     alt="">
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        <br>
    </div>
    <hr>
    <div class="container" id="topics">
        <div>
            <form method="GET" action=".">
                <table>
                    <tr>
                        <td>
                            <input class="form-control py-3 border" type="search"
                                   name="title_contains"
                                   placeholder="Look up topics or math"/>

                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary">Search</button>

                        </td>

                    </tr>
                </table>
            </form>
        </div>
        <!--        <hr style="background-color: #902b2b;height: 1px">-->
    </div>
    <hr>
    <div class="container">
        <h1>Topics</h1>
        <hr> {% for i in internship %}
        <div class="card mb-3 col-md-12">
            <div class="row row-no-gutters">
                <div class="col-md-2">
                    <img class="card-img" src="{{ i.internship_thumbnail.url }}" alt="">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title serif">
                            <b><a href="{% url 'contents' i.internship_url %}">{{ i.internship_topic }}</a></b></h5>
                        <span class="card-text serif"> <i>"{{ i.internship_quote }}"</i></span>
                        <p class="card-text">
                            <small class="text-muted">
                                -- {{ i.internship_quote_author }}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="text-muted">Internship Submissions are in Progress. Please Check Again</div>
    {% endfor %}
        <br>
    </div>

{% endblock %}