{% extends 'base.html' %}{% load static %}{% block title %}Index{% endblock %}{% block content %}
    <!-- Page Content -->
    <div class="container">
        <br><br>
        <!-- Heading Row -->
        <div class="row align-items-center my-5">

            <!-- /.col-lg-8 -->
            <div class="col-lg-5">
                <h1 class="font-weight-light serif">FOSSEE Animations | Math</h1>
                <p class="serif">Make complex mathematical topics feel more natural and approachable</p>
            </div>
            <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'web-files/img/logo.png' %}" alt="">
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        <br>
    </div>
    <hr>
    <div class="container" id="topics">
        <div>
            <form method="GET" action=".">
                <table>
                    <tr>
                        <td> Search :</td>
                        <td>
                            <div class="input-group">
                                <input class="form-control py-2 border-right-0 border" type="search"
                                       name="title_contains"
                                       placeholder="Search For Topics or Sub-topics"/>
                                <span class="input-group-append">
                            <div class="input-group-text bg-transparent">
                                <i class="fa fa-search"></i>
                            </div>
                        </span>
                            </div>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <hr>
    <div class="container">
        <h1>Topics</h1>
        <hr> {% for i in internship %}
        <div class="card mb-3 col-md-12">
            <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="{{ i.internship_thumbnail.url }}" width="200px" height="200px">
                    </div>
                    <div class="col-lg-9">
                        <br>
                        <h5 class="card-title serif" color="blue"><a
                                href="{% url 'home_view_data' i.id %}">{{ i.internship_topic }}</a></h5>
                        <i class="card-text serif">"{{ i.internship_quote }}"</i>
                        <p class="card-text">
                            <small class="text-muted"></small>
                            <i>-- {{ i.internship_quote_author }}</i>
                        </p>
                        {#                        <a href="{% url 'home_view_data' i.id %}" class="btn btn-primary">Browse Topics</a>#}
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
        <br>
    </div>

{% endblock %}