{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} View Interns {% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb  "Dashboard" "dashboard" %}
    {% breadcrumb  "Interns" "interns" %}
{% endblock %}

{% block content %}

    {% render_breadcrumbs %}

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <label>Select Internship: </label>
            <select name="search_internship" onchange="submit();">
                {% if internship in internship_all %}
                    <option>{{ internship }}</option>
                {% else %}
                    <option>Select Internship</option>
                {% endif %}
                {% for i in internship_all %}
                    {% if i != internship %}
                        <option value="{{ i.pk }}">{{ i.internship_topic }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>

    <br/>
        <table class="table table-light">
            <thead class="thead-light">
            <tr>
                <th>Intern Name</th>
                <th>Internship</th>
                <th>Topic</th>
            </tr>
            </thead>
            <tbody>
            {% for i in topics %}
                {% if internship.pk == i.topic_id.internship_id_id %}
                <tr>
                    <td>{{ i.user_id }}</td>
                    <td>{{ i.topic_id.internship_id }}</td>
                    <td>{{ i.topic_id }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <hr>
    <br> {% endblock %}
