{% extends 'base.html' %}{% load staticfiles %} {% block title %}Intern Edit Data{% endblock %}{% block content %}
    {% load static %} {{ form.media }}{% load crispy_forms_tags %}
    <section id="bc">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white text-dark">
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'index' %}">
                        <i class="fa fa-home" style="color:black"></i> Index</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'dashboard' %}">
                        <i class="fa fa-dashboard" style="color:black"></i> Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'intern_view_topic' %}">
                        <i class="fa fa-pencil" style="color:black"></i>Internship
                        - {{ subtopic.topic_id.internship_id }}
                    </a>
                </li>
                <li class="breadcrumb-item active"> Edit Data - {{ subtopic.subtopic_name }}</li>
            </ol>
        </nav>
    </section>
    <div class="container">
        <br>
        <script type="text/javascript" src="{% static " ckeditor/ckeditor-init.js " %}"></script>
        <script type="text/javascript" src="{% static " ckeditor/ckeditor/ckeditor.js " %}"></script>
        <script>
            window.CKEDITOR_BASEPATH = '/static/ckeditor/';
        </script>
        <div class="pagination">

        </div>
        <h2>Internship :{{ subtopic.topic_id.internship_id }}</h2>
        <h3>Topic :{{ subtopic.topic_id }}</h3>
        {% for i in page_obj %}

        <form method="post" name="data" enctype="multipart/form-data">

            {% csrf_token %} {{ form.media }} {{ form.as_p  }}


            <input class="btn btn-success" type="submit" name="submit" id="submit" value="Submit">
            <input class="btn btn-success" type="submit"  value="Next">
        </form>
        {% endfor %}


        <br>
    </div>
{% endblock %}