{% extends 'base.html' %}{% load staticfiles %} {% block title %}Intern Add Data{% endblock %}{% block content %}
    {% load static %} {{ form.media }} {% load crispy_forms_tags %}

    <style>

        .upload-btn-wrapper input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }

        .ck {
            display: none;
        }

        #add {
            width: 92px;
        }

        #dta tr:hover {
            background-color: #ddd;
        }
    </style>
    <section id="bc">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white text-dark">
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'index' %}">
                        <i class="fa fa-home" style="color:black"></i> Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'dashboard' %}">
                        <i class="fa fa-dashboard" style="color:black"></i> Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'intern_view_topic' %}">
                        <i class="fa fa-pencil" style="color:black"></i>Internship
                        - {{ subtopic.topic_id.internship_id }}
                    </a>
                </li>
                <li class="breadcrumb-item active"> Add Data : {{ subtopic.subtopic_name }}</li>
            </ol>
        </nav>
    </section>

    <div class="container">
        <br> {% include 'partials/_alerts.html' %}
        <br>
        <br>
        <script type="text/javascript" src="{% static " ckeditor/ckeditor-init.js " %}"></script>
        <script type="text/javascript" src="{% static " ckeditor/ckeditor/ckeditor.js " %}"></script>
        <script>
            window.CKEDITOR_BASEPATH = '/static/ckeditor/';
        </script>

        <h1>Internship :{{ subtopic.topic_id.internship_id }}</h1>
        <h3>Topic :{{ subtopic.topic_id }}</h3>
        <h5>Subtopic : {{ subtopic.subtopic_name }}</h5>
        <hr/>
        <div align="center">
            Current status of data : {{ subtopic.subtopic_status }}
        </div>
        <hr/>
        <table id="dta">
            {% for data in topic %}
                <tr>
                    {% if data.data_content != "NULL" %}
                        <td>
                            <p></p>
                            {{ data.data_content |safe }}
                        </td>
                        {% if data.data_status != "ACCEPTED" %}
                            <td>
                                <a
                                        href="{% url 'intern_delete_data' data.pk %}">
                                    Delete
                                </a>
                                <br>
                                <br>
                                <a
                                        href="{% url 'intern_update_data' data.pk %}">
                                    Edit
                                </a>
                                
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
                <tr>
                    {% if data.data_image.url != "NULL" %}
                        <td>
                            <p></p>
                            {% for i in imagesize %}
                                {% if i.data_id_id == data.pk %}
                                    <img src="{{ data.data_image.url }}" width="{{ i.image_width }}"
                                         height="{{ i.image_height }}" style="display:block; margin:0 auto;">
                                    <p align="center" style="font-size: 15px">{{ i.image_caption }}</p>
                                {% endif %}
                            {% endfor %}
                        </td>
                        {% if data.data_status != "ACCEPTED" %}
                            <td>
                                <a
                                        href="{% url 'intern_delete_data' data.pk %}">
                                    Delete
                                </a>
                                <br>
                                <br>
                                <a
                                        href="{% url 'intern_update_media' data.pk %}">
                                    Edit
                                </a>
                                <br>
                                <br>
                                <a
                                        href="{% url 'intern_update_image_size' data.pk %}">
                                    Format
                                </a>
                            </td>
                        {% endif %}
                    {% endif %}
                    
                </tr>
                <tr>
                    {% if data.data_video.url != "NULL" %}
                        <td>
                            <p></p>
                            <video width='70%' style="display:block; margin:0 auto;" controls>
                                <source src="{{ data.data_video.url }}" type='video/mp4'>
                                Your browser does not support the video tag.
                            </video>
                        </td>
                        {% if data.data_status != "ACCEPTED" %}
                            <td>
                                <a
                                        href="{% url 'intern_delete_data' data.pk %}">Delete
                                </a>
                                <br>
                                <br>
                                <a
                                        href="{% url 'intern_update_media' data.pk %}">
                                    Edit
                                </a>
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
                
            {% endfor %}
        </table>

        {% if subtopic.subtopic_status != 'ACCEPTED' %}
            <br>
            <div class="container" style="background-color: lightcyan">
                <form method="post" name="data" enctype="multipart/form-data"><br>{% csrf_token %}
                    <div class="ck center" align="center" id="cc">
                        {{ form.media }} {{ form.as_p }}
                    </div>
                    <div class="form-group row">
                        <div class="col-md-auto">
                            <input class="btn btn-dark" type="button" id="add" onclick="show()" value="Add text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label>Select Image : </label>
                            <input type="file" class="btn btn-dark" name="image"/>
                        </div>
                        <div class="col" style="font-style: oblique;text-align: left;">
                            <b>OR</b>
                        </div>
                        <div class="col">
                            <label> Select Video : </label>
                            <input type="file" class="btn btn-dark" name="video"/>
    
                        </div>
                    </div>
                 
                    <div class="form-group row">
                        <div class="col">
                            <input class="btn btn-success btn-md btn-block" type="submit" name="submit" id="submit" value="Save">
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
        <br>
        <br>
    </div>
    <script>
        function show() {
            document.getElementById("cc").style.display = "block";
        }
    </script>
{% endblock %}
