{% extends 'base.html' %}{% block title %}Intern View Topic {% endblock %}{% block content %}
    <section id="bc" class="mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'index' %}">
                        <i class="fa fa-home" style="color:black"></i> Index</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'dashboard' %}">
                        <i class="fa fa-dashboard" style="color:black"></i> Dashboard</a>
                </li>
                <li class="breadcrumb-item active"> Internship - {{ internship.internship_topic }}</li>
            </ol>
        </nav>
    </section>
    <br>
    <hr>
    <div class="container">

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th><h3>Internship Name : {{ internship.internship_topic }}</h3></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <thead class="thead-light">
            <tr>
                <th><h4>Topic Name : {{ assigned.topic_id }}</h4></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% for i in subtopic %}
                <tr>
                    <td>{{ i.subtopic_name }}</td>
                    <td><a href="{% url  'intern_add_data' i.topic_id_id %}">Add Data</a></td>
                    <td><a href="{% url  'intern_view_data' %}">View Data</a></td>
                 <td><a href="{% url  'intern_view_data' %}">Edit Data</a></td>
                <td>{{ i.topic_id_id }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <hr>
    <br> {% endblock %}