{% extends 'base.html' %} {% load staticfiles %}{% block title %}Dashboard{% endblock %} {% block content %}

<script type="text/javascript" src="{% static " ckeditor/ckeditor-init.js " %}"></script>
<script type="text/javascript" src="{% static " ckeditor/ckeditor/ckeditor.js " %}"></script>
<script>
    window.CKEDITOR_BASEPATH = '/static/ckeditor/';
</script>
<br>
<hr>
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'index' %}">
                        <i class="fa fa-home" style="color:black"></i> Index</a>
                </li>
                <li class="breadcrumb-item active"> Intern Edit Data</li>
            </ol>
        </nav>
    </div>
</section>
<div class="container">

    <div id="content" hidden>
        {% for i in resources %} {{ i.subtopic }}
        <br> {% endfor %}
    </div>

    <div class="row">
        <div class="col">
            Select your subtopic : &nbsp;
            <form method="POST" class="form-row" name="form_type" value="selection">
                {% csrf_token %}
                <div class="col">
                    <select class="form-control" name="option">
                            {% for i in resources %}
                                <option value="{{ i.id }}">{{ i.subtopic }}</option>
                            {% endfor %}
                        </select>
                </div>

                <div class="col">
                    <button type="submit" class="btn btn-success">EDIT</button>
                </div>
            </form>
        </div>
    </div>
    <br>

    <hr>
    <div class="row">
        <form method="POST" name="form_type" value="edit_data">
            {% csrf_token %} {{ form.media }} {{ form_edit.as_p }}
            <p><input type="submit" value="post"></p>
        </form>
    </div>
</div>
<br>
<hr>
<br>
</div>
{#
<script>
    #} {#
        $(document).ready(function() {#} {#
            var html = $("#content").text()#
        } {#
            html.replace("&lt;", "<")#
        } {#
            html.replace("&gt;", ">")#
        } {##} {#
            $("#content-body").html(html)#
        } {#})#
    } {#
</script>#} {% endblock %}