{% extends 'base.html' %}
{% block title %}Intern View Internship{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "dashboard" %}
    {% breadcrumb "Internship" "intern_view_internship" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    <div class="container">
        <h2 style="font-weight: lighter;">Contents</h2>
        <p> Content for the internship. Status of your submission and remaining topics covered during the course of the internship.</p>
        <hr/>
        <table class="table table-borderless">
            <thead class="">
            <tr>
                <th scope="col" class="align-right">Your progress in {{ internship.topic_id.internship_id }} </th>
            </tr>
            </thead>
            {% for j in topics %}
                {% if j.internship_id == internship.topic_id.internship_id %}
                    <thead class="thead">
                    <tr>
                        <th scope="col">Topic Name: {{ j.topic_name }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    {% for k in subtopics %}
                        {% if k.topic_id.topic_name == j.topic_name %}
                            <tbody>
                            <tr>
                                <th scope="row"> &nbsp;&nbsp;&nbsp;&nbsp;   {{ k.subtopic_name }}</th>
                                <th>
                                    {% if internship.topic_id == k.topic_id %}
                                        {{ k.subtopic_status|title }}
                                    {% endif %}
                                </th>
                            </tr>
                            </tbody>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <br>
    <hr>
    <br> {% endblock %}