{% extends 'base.html' %}
{% block title %}Internship{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Internship" "internship" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    <style >
      .responsive {
        width: 100%;
        height: auto;
      }
    </style>

    <!-- Page Content -->
    <div class="container">
        <img src="{{ ROOT_URL }}/static/web-files/img/internship-posters/internship.png" alt="" class="responsive"/>
        <br/>
        <br/>
    </div>
    <!-- row -->
    <br/>
{% endblock %}
