{% extends 'base.html' %}{% load staticfiles %} {% block title %}Intern Add Data{% endblock %}{% block content %}
    {% load static %} {{ form.media }} {% load crispy_forms_tags %}

    <style>

        .upload-btn-wrapper input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
        .ck {
            display: none;
        }
        #add {
            width: 92px;
        }
        #dta tr:hover {
            background-color: #fffafa;
        }
    </style>
    <section id="bc">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white text-dark">
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'index' %}">
                        <i class="fa fa-home" style="color:black"></i> Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'dashboard' %}">
                        <i class="fa fa-dashboard" style="color:black"></i> Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'intern_view_topic' %}">
                        <i class="fa fa-pencil" style="color:black"></i>Internship
                        - {{ subtopic.topic_id.internship_id }}
                    </a>
                </li>
                <li class="breadcrumb-item active"> Add Data : {{ subtopic.subtopic_name }}</li>
            </ol>
        </nav>
    </section>

    <div class="container">
        <br> {% include 'partials/_alerts.html' %}
        <br>
        <br>
        <script type="text/javascript" src="{% static " ckeditor/ckeditor-init.js " %}"></script>
        <script type="text/javascript" src="{% static " ckeditor/ckeditor/ckeditor.js " %}"></script>
        <script>
            window.CKEDITOR_BASEPATH = '/static/ckeditor/';
        </script>

{% if subtopic.subtopic_status == "WAITING" %}
<div class="card border-warning" style="margin-bottom: 15px;">
    <h4> <div class="card-header text-white bg-warning">{{ subtopic.subtopic_name }}</h4>
{% elif subtopic.subtopic_status == "ACCEPTED"%}
<div class="card border-success">
    <h4> <div class="card-header text-white bg-success">{{ subtopic.subtopic_name }}</h4>
{% elif subtopic.subtopic_status == "REJECTED"%}
<div class="card border-danger">
    <h4> <div class="card-header text-white bg-danger">{{ subtopic.subtopic_name }}</h4>
{% else %}
<div class="card border-info">
    <h4> <div class="card-header text-white bg-info">{{ subtopic.subtopic_name }}</h4>
{% endif %}

   <div class="card-body">
    <h6><b>Internship: </b>{{ subtopic.topic_id.internship_id }}</h6>
    <h6><b>Topic: </b>{{ subtopic.topic_id }}</h6>
    <h6><b>Last Modified: </b> {{ last_modified }}</h6>
    <div align="center">
        Current Status: <b>{{ subtopic.subtopic_status|title}}</b>
    </div>
</div>
</div>
<hr/>
<div class="d-flex justify-content-center"><h5><u><i>{{subtopic.subtopic_name}}</i></u></h5></div>
     
        <table id="dta" class="table table-borderless" style="width: 100%;">
            {% for data in topic %}
                <tr>
                    {% if data.data_content != "NULL" %} <!-- SHOULD NOT BE THERE AS NULL SHOULD NOT BE SAVED!-->
                        <td>
                            <p></p>
                            <!-- {{ data.data_post_date }}  Save it for hover on edit option--> 
                            {{ data.data_content |safe }}
                        </td>
                        {% if  subtopic.subtopic_status != "ACCEPTED" %}
                            <td>
                                <a href="{% url 'intern_delete_data' data.pk %}">
                                    Delete
                                </a>
                                <br>
                                <br>
                                <a href="{% url 'intern_update_data' data.pk %}">
                                    Edit
                                </a>
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
                <tr>
                    {% if data.data_image.url != "NULL" %}
                        <td>
                            <p></p>
                            {% for i in imagesize %}
                                {% if i.data_id_id == data.pk %}
                                    <img src="{{ data.data_image.url }}" width="{{ i.image_width }}"
                                         height="{{ i.image_height }}" style="display:block; margin:0 auto;">
                                    <p align="center" style="font-size: 15px">{{ i.image_caption }}</p>
                                {% endif %}
                            {% endfor %}
                        </td>
                        {% if  subtopic.subtopic_status != "ACCEPTED" %}
                            <td>
                                <a href="{% url 'intern_delete_data' data.pk %}">
                                    Delete
                                </a>
                                <br>
                                <br>
                                <a href="{% url 'intern_update_media' data.pk %}">
                                    Edit
                                </a>
                                <br>
                                <br>
                                <a href="{% url 'intern_update_image_size' data.pk %}">
                                    Format
                                </a>
                            </td>
                        {% endif %}
                    {% endif %}

                </tr>
                <tr>
                    {% if data.data_video.url != "NULL" %}
                        <td>
                            <p></p>
                            <video width='70%' style="display:block; margin:0 auto;" controls>
                                <source src="{{ data.data_video.url }}" type='video/mp4'>
                                Your browser does not support the video tag.
                            </video>
                        </td>
                        {% if data.data_status != "ACCEPTED" %}
                            <td>
                                <a href="{% url 'intern_delete_data' data.pk %}">Delete
                                </a>
                                <br>
                                <br>
                                <a href="{% url 'intern_update_media' data.pk %}">
                                    Edit
                                </a>
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>

            {% endfor %}
        </table>

        {% if subtopic.subtopic_status != 'ACCEPTED' %}
            <br>
            <div class="container" style="background-color:#F5F5F5  ">
                <form method="post" name="data" enctype="multipart/form-data"><br>{% csrf_token %}

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#data" role="tab" data-toggle="tab"
                               onclick="show()"><img src="{% static '/web-files/img/edit-24px.svg' %}" alt="Text"> </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#image" role="tab" data-toggle="tab"><img src="{% static '/web-files/img/add_photo_alternate-24px.svg' %}" alt="Image"> </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#video" role="tab" data-toggle="tab"><img src="{% static '/web-files/img/video_library-24px.svg' %}" alt="Video"> </a>
                        </li>
                        <li class="nav-item" style="margin-left: 846px;">
                            <input class="btn btn-success btn-md btn-block" type="submit" name="submit" id="submit"
                                   value="Save">
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade show active" id="data">
                            <div class="ck center" align="center" id="cc">
                                {{ form.media }} {{ form.as_p }}
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="image">
                            <br>
                            <label>Select Image: </label>
                            <input type="file" class="btn " name="image"/>
                            <br>
                            <br>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="video">
                            <br>
                            <label> Select Video: </label>
                            <input type="file" class="btn" name="video"/>
                            <br>
                            <br>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
        <br>
        <br>
       
    </div>
    <div class="container" style="margin-top:15%;"> <hr/></div>
    <script>
        function show() {
            document.getElementById("cc").style.display = "block";
        }
    </script>
{% endblock %}