{% extends 'base.html' %}
{% block title %}Internship{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Internship" "internship" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    <style>
        .responsive {
            width: 100%;
            height: auto;
        }
    </style>
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="true">Completed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile" aria-selected="false">Ongoing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                   aria-controls="contact" aria-selected="false">Upcoming</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><br>
                {% for i in internship %}
                    {% if i.internship_status == 'COMPLETED' %}
                        <div class="bs-callout bs-callout-info mb-3">
                            <h4 style="font-weight: bold">{{ i.internship_topic }}</h4>
                            {% for j in topic %}
                                {% if j.internship_id.pk == i.pk %}
                                    <div class="bs-callout bs-callout-warning">
                                        <h5 class="card-title">{{ j.topic_name }}</h5>
                                        {% for k in subtopic %}
                                            {% if k.topic_id.pk == j.pk %}
                                                <div class="bs-callout bs-callout-danger">
                                                    <p class="card-text">{{ k.subtopic_name }}</p>
                                                    {% if k.assigned_user_id %}
                                                         {% with  k.assigned_user_id.first_name|add:k.assigned_user_id.last_name as username %}
                                                        <p class="float-right">By, <a target="_blank"
                                                                                  href="{% url 'profile' k.assigned_user_id.pk username %}">{{ k.assigned_user_id.first_name }} {{ k.assigned_user_id.last_name }}</a>
                                                        </p><br>
                                                        {% endwith %}
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><br>

                {% for i in internship %}
                    {% if i.internship_status == 'ACTIVE' %}
                        <div class="bs-callout bs-callout-info mb-3">
                            <h4 style="font-weight: bold">{{ i.internship_topic }}</h4>
                            {% for j in topic %}
                                {% if j.internship_id.pk == i.pk %}
                                    <div class="bs-callout bs-callout-warning">
                                        <h5 class="card-title">{{ j.topic_name }}</h5>
                                        {% for k in subtopic %}
                                            {% if k.topic_id.pk == j.pk %}
                                                <div class="bs-callout bs-callout-danger">
                                                    <p class="card-text">{{ k.subtopic_name }}</p>
                                                    {% if k.assigned_user_id %}
                                                         {% with  k.assigned_user_id.first_name|add:k.assigned_user_id.last_name as username %}
                                                        <p class="float-right">By, <a target="_blank"
                                                                                  href="{% url 'profile' k.assigned_user_id.pk username %}">{{ k.assigned_user_id.first_name }} {{ k.assigned_user_id.last_name }}</a>
                                                        </p><br>
                                                        {% endwith %}
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"><br><br>
                <!-- Page Content -->

                <img src="{{ ROOT_URL }}/static/web-files/img/internship-posters/internship.png" alt=""
                     class="responsive"/>
                <br/>
                <br/>
            </div>
            <!-- row -->

        </div>

    </div>

    <br/>
{% endblock %}
