{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} View Interns {% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "dashboard" %}
    {% breadcrumb "Interns" "interns" %}
{% endblock %}

{% block content %}



    {% render_breadcrumbs %}

    <div class="container">
        <h3 class="text-warning">Overview</h3>
        <form method="POST">
            {% csrf_token %}
            <label>Select Internship: </label>
            <select name="search_internship" onchange="submit();">
                {% if internship in internship_all %}
                    <option>{{ internship }}</option>
                {% else %}
                    <option>Select Internship</option>
                {% endif %}
                {% for i in internship_all %}
                    {% if i != internship %}
                        <option value="{{ i.pk }}">{{ i.internship_topic }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>

        <br/>
        <table class="table table-light table-sm" id="myTable">
            <thead class="table-warning">
            <tr>
                <th>Intern Name</th>
                <th>Subtopic</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for i in interns %}
                        <tr>
                    <td>{{ i.user_id.username }}</td>
                           <td>
                    {% for j in topics %}
                        {% if j.topic_id.internship_id.internship_topic == internship.internship_topic and j.assigned_user_id.username == i.user_id.username %}
                          {{ j.topic_id.internship_id }} - {{ j.topic_id }} - {{ j.subtopic_name }}<br>
                        {% endif %}
                        {% endfor %}
                        </td>
                    <td>
                        <a href="">profile</a>
                    </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <hr>
    <br>

{% endblock %}

