{% extends 'base.html' %}
{% block title %}Intern View Internship{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "dashboard" %}
    {% breadcrumb "Internship" "intern_view_internship" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    <div class="container">
        <h2 style="font-weight: lighter;">Contents</h2>
        <p> Content for the internship. Status of your submission and remaining topics covered during the course of the internship.</p>
        <hr/>
                <b scope="col" class="align-right">Your progress in {{ internship.topic_id.internship_id }} </b>
        <table class="table table-borderless table-sm ">
            {% for j in topics %}
                {% if j.internship_id == internship.topic_id.internship_id %}
                    <thead class="table-primary table-condensed">
                    <tr>
                        <th scope="col">{{forloop.counter}}. {{ j.topic_name }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    {% for k in subtopics %}
                        {% if k.topic_id.topic_name == j.topic_name and k.topic_id.internship_id == j.internship_id %}
                            <tbody>
                            <tr>
                                <td scope="row"> &nbsp;&nbsp;&nbsp;&nbsp;   {{  forloop.counter }}. {{ k.subtopic_name }}</td>
                                <td>
                                    {% if internship.topic_id == k.topic_id %}
                                        {% if k.subtopic_status == "ACCEPTED"%}
                                            <div class="text-success">
                                        {% elif k.subtopic_status == "REJECTED"%}
                                            <div class="text-danger">
                                        {% elif k.subtopic_status == "WAITING"%}                                 
                                            <div class="text-warning">
                                        {% endif %}
                                        <b><i>{{ k.subtopic_status|title }}</i></b>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <br>
    <hr>
    <br> {% endblock %}