{% extends 'base.html' %}
{% block title %}Intern View Internship{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "dashboard" %}
    {% breadcrumb "Internship" "intern_view_internship" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    <div class="container">

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Internship Name : {{ internship.topic_id.internship_id }}</th>
                <th>Submission status</th>
            </tr>
            </thead>
            {% for j in topics %}
                {% if j.internship_id == internship.topic_id.internship_id %}
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Topic Name : {{ j.topic_name }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    {% for k in subtopics %}
                        {% if k.topic_id.topic_name == j.topic_name %}
                            <tbody>
                            <tr>
                                <th scope="row">Subtopic : {{ k.subtopic_name }}</th>
                                <th>
                                    {% if internship.topic_id == k.topic_id %}
                                        {{ k.subtopic_status }}
                                    {% endif %}
                                </th>
                            </tr>
                            </tbody>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <br>
    <hr>
    <br> {% endblock %}