{% extends 'base.html' %}
{% block title %}Intern View Internship{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "dashboard" %}
    {% breadcrumb "Internship" "internship-progress" %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% render_breadcrumbs %}

        {% if user.is_superuser or user.is_staff %}
            <div class="container">
                <form method="POST">
                    {% csrf_token %}
                    <label>Select Internship: </label>
                    <select name="search_internship" onchange="submit();">
                        {% if chosen_internship in internship_all %}
                            <option>{{ chosen_internship }}</option>
                        {% else %}
                            <option> ----</option>
                        {% endif %}
                        {% for i in internship_all %}
                            {% if i != chosen_internship %}
                                <option value="{{ i.pk }}">{{ i.internship_topic }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </form>
                <br/>

                <table class="table">
                    {% for i in internship %}
                        <thead class="">
                        <tr>
                            <th scope="col"><h3>{{ i.internship_topic }}</h3></th>
                            <th></th>
                        </tr>
                        </thead>
                        {% for j in topics %}
                            {% if j.internship_id_id == i.id %}
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col"><h4>{{ j.topic_name }}</h4></th>
                                    <th>
                                        {% if user.is_staff and not user.is_superuser %}
                                            {% for k in assigned %}
                                                {% if k.topic_id_id == j.pk %}
                                                    {{ k.user_id }} -
                                                    <a href="{% url 'staff_add_contribution' j.pk %}">Contributor
                                                        Info</a>
                                                {% else %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">
                                        <ol>
                                            {% for k in subtopics %}
                                                {% if k.topic_id_id == j.id %}
                                                    <li>
                                                        {% if k.subtopic_status == 'ACCEPTED' %}
                                                            <span style="color: green"> {{ k.subtopic_name }}</span>
                                                        {% elif k.subtopic_status == 'WAITING' %}
                                                            <span style="color: yellow"> {{ k.subtopic_name }}</span>
                                                        {% elif k.subtopic_status == 'REJECTED' %}
                                                            <span style="color: red"> {{ k.subtopic_name }}</span>
                                                        {% endif %}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ol>
                                    </th>
                                </tr>
                                </tbody>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
            <br>
            <hr/>
            <br>


        {% else %}
            <div class="container">
                <h2 style="font-weight: lighter;">Contents</h2>
                <p> Content for the internship. Status of your submission and remaining topics covered during the course
                    of the internship.</p>
                <hr/>
                <b scope="col" class="align-right">Your progress in {{ internship.topic_id.internship_id }} </b>
                <table class="table table-borderless table-sm ">
                    {% for j in topics %}
                        {% if j.internship_id == internship.topic_id.internship_id %}
                            <thead class="table-primary table-condensed">
                            <tr>
                                <th scope="col">{{ forloop.counter }}. {{ j.topic_name }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            {% for k in subtopics %}
                                {% if k.topic_id.topic_name == j.topic_name and k.topic_id.internship_id == j.internship_id %}
                                    <tbody>
                                    <tr>
                                        <td scope="row">
                                            &nbsp;&nbsp;&nbsp;&nbsp; {{ forloop.counter }}. {{ k.subtopic_name }}</td>
                                        <td>
                                            {% if internship.topic_id == k.topic_id %}
                                                {% if k.subtopic_status == "ACCEPTED" %}
                                                    <div class="text-success">
                                                {% elif k.subtopic_status == "REJECTED" %}
                                                    <div class="text-danger">
                                                {% elif k.subtopic_status == "WAITING" %}
                                                    <div class="text-warning">
                                                {% endif %}
                                            <b><i>{{ k.subtopic_status|title }}</i></b>
                                            </div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
            <br>
            <hr>
            <br>
        {% endif %}

    {% endif %}
{% endblock %}
