{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    <br>
    <hr>
    <div class="container">
       <div class="inner">
           <div class="row">
                 <h1>Select the Subtopic :</h1>
               <div class="center">
                    <form>
               <select></select>
               <button type="submit">Edit</button>
           </form>
               </div>
           </div>
       </div>
    </div>
    <hr>
    <br>
{% endblock %}
