{% extends 'base.html' %}{% load staticfiles %} {% block title %}Intern Add Data{% endblock %}{% block content %}
    {% load static %} {{ form.media }} {% load crispy_forms_tags %}

    <style>
        .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }


        .upload-btn-wrapper input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }

        .mleft {
            margin-left: 415px;
        }

    </style>
    <section id="bc">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white text-dark">
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'index' %}">
                        <i class="fa fa-home" style="color:black"></i> Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'dashboard' %}">
                        <i class="fa fa-dashboard" style="color:black"></i> Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'intern_view_topic' %}">
                        <i class="fa fa-pencil" style="color:black"></i>Internship
                        - {{ image.subtopic_id.topic_id.internship_id }}
                    </a>
                </li>
                <li class="breadcrumb-item active"> Update Image : {{ image.subtopic_id.subtopic_name }}</li>
            </ol>
        </nav>
    </section>
    <div class="container">
        <div>
            <img src="{{ image.data_image.url }}" width="{{ image_size.image_width }}"
                 height="{{ image_size.image_height }}">
        </div>
        <br>
        <div>
            <form method="POST" name="data" enctype="multipart/form-data"><br>{% csrf_token %}

                {{ form.media }} {{ form.as_p }}

                <div class="upload-btn-wrapper">
                    <input class="btn btn-success" type="submit" name="submit" id="submit" value="Save">
                </div>
            </form>
        </div>
        <br>
        <div>
            <a href="{% url 'intern_add_data' image.subtopic_id.pk %}" class="btn btn-success">back</a>
        </div>
        <br>
    </div>
{% endblock %}
