{% extends 'base.html' %} {% block title %}Login{% endblock %} {% block content %}

    <div class="container" align="justify" style="margin-top:20px;">
        <br> {% include 'partials/_alerts.html' %}
        <br>
        <center>
            <h1>Login</h1>
            <hr>
            <div class="container" style="font-family: 'Lato', sans-serif;">
                <form method="post">
                    {% csrf_token %}
                    <table class="table table-borderless" style="margin-left: 150px;">
                        {{ form.as_table }}
                    </table>
                    <button class="btn btn-outline-success " type="submit"
                            style="background-color:#e45700;color:white; border:0px">Login
                    </button>
                </form>
            </div>
        </center>
    </div> {% endblock %}
