{% extends 'base.html' %} {% block title %}Login{% endblock %} {% block content %}

    <div class="container" align="justify" style="margin-top:100px;margin-bottom:100px;">
        <br> {% include 'partials/_alerts.html' %}
   
        <center>
            <h1>Login</h1>
            <hr>
            <br>
            <br>
            <div class="container" style="font-family: 'Lato', sans-serif;">
                <form method="post">
                    {% csrf_token %}
                    <table class="table" style="margin: auto; width: 50%;">
                        {{ form.as_table }}
                    </table>
                    <button class="btn btn-success btn-sm" type="submit"
                            style="background-color:#e45700;color:white; border:0px">Login
                    </button>
                </form>
            </div>
        </center>
    </div> {% endblock %}
