{% extends 'base.html' %}{% block title %}Manage Intern{% endblock %}{% block content %}

<section id="bc" class="mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a style="color:black" href="{% url 'index' %}">
                    <i class="fa fa-home" style="color:black"></i> Index</a>
            </li>
            <li class="breadcrumb-item active"> Manage Interns</li>
        </ol>
    </nav>
</section>
<div>
    {% include 'partials/_alerts.html' %}
    <div class="container">
        {% for obj in details %}
        <div class="row table table-dark">
            <div class="col">
                User Name
            </div>
            <div class="col">
                Phone
            </div>
            <div class="col">
                Email
            </div>
            <div class="col">
                Status
            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ obj.name }}
            </div>
            <div class="col">
                {{ obj.email }}
            </div>
            <div class="col">
                {{ obj.phone }}
            </div>
            <div class="col">
                {{ obj.status }}
            </div>
            <form method="POST" name="manageform" class="form-group" id="manageform"></form>
            <div class="col">
                {% csrf_token %}
                <input name="id" value='{{ obj.user_id}}' type="hidden">
                <select id="option_select" name="option_select">
                    <option name="active" value="ACTIVE">ACTIVE</option>
                    <option name="inactive" value="INACTIVE">INACTIVE</option>
                    <option name="suspended" value="SUSPENDED">SUSPENDED</option>
                </select>
            </div>
            <div class="col">
                <input class="btn btn-success" type="submit" name="submit" id="submit" value="OK">
            </div>
            </form>
        </div>
        {% endfor %}
    </div>
</div>
<br> {% endblock %}