{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block title %} Manage Interns {% endblock %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "dashboard" %}
    {% breadcrumb "Manage Interns" "manage-interns" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}

    {% if user.is_authenticated %}
        {% if user.is_superuser or user.is_staff %}
            <style>
                label {
                    display: none;
                }
            </style>

            <div class="container">
                <h3 class="text-warning">Contributor Info</h3>
                {% include 'partials/_alerts.html' %}

                <table class="table table-sm ">
                    <thead class="table-warning">
                    <tr>
                        <th>Intern Name</th>
                        {% if user.is_staff and not user.is_superuser %}
                            <th>Assigned Subtopic</th>
                        {% endif %}
                        <th>Status</th>
                        <th>Set Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    {% if user.is_staff and not user.is_superuser %}
                        <tbody>
                        {% for i in interns %}
                            <tr>
                                <td>{{ i.user_id }}</td>
                                <td>
                                    {% for st in subtopic %}
                                        {% if i.user_id_id == st.assigned_user_id_id %}
                                        {{ st.topic_id.internship_id }} - {{ st.topic_id }} - {{ st.subtopic_name }}<br>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if i.user_status == "ACTIVE" %}
                                        <img src="{% static '/web-files/img/multiuse-svgs/user-check.svg' %}" width="18px" title="Active">
                                    {% elif i.user_status == "INACTIVE" %}
                                        <img src="{% static '/web-files/img/multiuse-svgs/user-minus.svg' %}" width="18px" title="Inactive">
                                        {% endif %}
                                    <!--{{ i.user_status }}-->
                                </td>
                                <td class="">
                                    <form method="POST" class="form-group" name="ManageIntern">
                                        <input type="hidden" value="{{ i.user_id_id }}" name="assigneduserid">
                                        {% csrf_token %} {{ form|crispy }}
                                <td>
                                    <input class="btn btn-outline-warning btn-sm" type="submit" name="submit" value="Change">
                                </td>
                                </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% else %}
                        <tbody>
                        {% for i in interns %}
                            <tr>
                                <td>{{ i.user_id }}</td>
                                <td>{{ i.user_status }}</td>
                                <td class="">
                                    <form method="POST" class="form-group" name="ManageIntern">
                                        <input type="hidden" value="{{ i.user_id_id }}" name="id">
                                        {% csrf_token %} {{ form|crispy }}
                                <td>
                                    <input class="btn btn-outline-success" type="submit" name="submit" value="Submit">
                                </td>
                                </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endif %}
                </table>
            </div>
            </div>
            <br>
            <br>
            <br>
            <br>
        {% endif %}
    {% endif %}
{% endblock %}
