{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Profile{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% if user.is_authenticated %}
        {% breadcrumb "Dashboard" "dashboard" %}
    {% endif %}
    {% breadcrumb "Profile" "" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    <div class="container">
        {% include 'partials/_alerts.html' %}
        {% if details is not None %}
            <div class=" bs-callout bs-callout-info">
                <h2 style="text-align:center">User Profile</h2>
                <p class="">
                <p>Name:<span
                        style="font-weight: bold; font-size: x-large"> {{ details.user_id.first_name }} {{ details.user_id.last_name }}</span>
                </p>
                {% if user.is_authenticated %}
                    {% if user.username == details.user_id.username or user.is_staff %}
                        <p>Role: <span style="font-weight: bold">{{ details.user_role }}</span></p>
                        <p>College: <span style="font-weight: bold">{{ details.user_college }}</span></p>
                        <p>Email:<span style="font-weight: bold"> {{ details.user_email }}</span></p>
                        <p>Mobile: <span style="font-weight: bold">{{ details.user_phone }}</span></p>

                        <div class="float-right">
                            <a class="nav-link" href="" style="margin-top: -14px" role="tab" data-toggle="modal"
                               data-target="#modalContactForm"> <img
                                    src="{% static '/web-files/img/multiuse-svgs/edit.svg' %}"
                                    alt="Text"></a>
                            <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <h4 class="modal-title">Edit Bio : {{ details.user_id }}</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body mx-3">
                                            <div class="md-form">
                                                <i class="fas fa-pencil prefix grey-text"></i>
                                                <form method="POST">
                                                    {% csrf_token %}
                                                    {{ form_edit_bio|crispy }}
                                                    <button type="submit" class="btn btn-success col-md-12">Update
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                <p>Bio: <span style="font-weight: bold">{{ details.user_bio }}</span></p>
                <p>Profile Url : <b>{{ profile_url }}</b></p>
                <p>User Joined : <b>{{ details.user_id.date_joined }}</b></p>
                {% if user.is_authenticated %}
                    {% if user.username == details.user_id.username %}
                        <br>
                        <br>
                        <p style="text-align: center"><a href="{% url 'password-change' %}"><span
                                style="color: #2C009F">Change Password</span></a></p>
                    {% endif %}
                {% endif %}
                <br>
            </div>
            {% if not details.user_id.is_staff %}
                {% if not user.is_staff or details.user_role == 'INTERN' %}
                    <div>
                        <br>
                        <b style="text-align: center"> Contributions :</b>
                        {% for i in subtopic %}
                            {% if details.user_id.pk == i.assigned_user_id.pk %}
                                <div class="bs-callout bs-callout-info">
                                    {{ i.subtopic_name }} -> {{ i.topic_id }} -> {{ i.topic_id.internship_id }}
                                    <div class="float-right">
                                        {% if i.subtopic_status == 'WAITING' %}
                                            IN PROCESS
                                        {% else %}
                                            {{ i.subtopic_status }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
            {% if not user.is_superuser %}
                {% if details.user_id.is_staff %}
                    <br>
                    <b style="text-align: center">Topics Approved</b>
                    {% for i in subtopic %}
                        {% if details.user_id.pk == i.subtopic_managed_user %}
                            <div class="bs-callout bs-callout-info">
                                {{ i.subtopic_name }} -> {{ i.topic_id }} -> {{ i.topic_id.internship_id }}
                                <div class="float-right">
                                    {{ i.subtopic_status }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                     <br>
                    <b style="text-align: center">Topics Interacted With</b>
                    {% for i in messages_send %}
                        {% if details.user_id.pk == i.user_id.pk %}
                            <div class="bs-callout bs-callout-info">
                                {{ i.subtopic_id.subtopic_name }} -> {{ i.subtopic_id.topic_id }} -> {{ i.subtopic_id.topic_id.internship_id }}
                                <div class="float-right">
                                    {{ i.subtopic_id.subtopic_status }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
