{% extends 'base.html' %}
{% load static %}
{% block title %} Review Submissions {% endblock %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "dashboard" %}
    {% breadcrumb "Review Submissions" "review-submissions" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    {% include 'partials/_modal.html' %}
    <div class="container">
        <h6>All Submissions: </h6>
        <h2 class="text-info">{{ first_internship.internship_topic }}</h2>
        <hr>
        <div class="row">
            <div class="col-6 col-sm-6">
                <form method="POST">
                    {% csrf_token %}
                    <label>Select Internship: </label>
                    <select name="search_internship" onchange="submit();">
                        {% if first_internship in internship %}
                            <option>{{ first_internship }}</option>
                        {% else %}
                            <option>Select Internship</option>
                        {% endif %}
                        {% for i in internship %}
                            {% if i != first_internship %}
                                <option value="{{ i.pk }}">{{ i.internship_topic }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </form>
            </div>

            <div class="col-6 col-sm-6">
                <form method="POST">
                    {% csrf_token %}
                    <label>Select Contributor: </label>
                    <select name="search_intern" onchange="submit();">
                        <option>Select Contributor</option>
                        {% for i in interns %}
                            <option value="{{ i.pk }}">{{ i.username }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
        <hr/>
        <table class="table table-sm">
            <thead class="table-info">
            <tr>
                <th scope="col">User Name</th>
                <th scope="col">Topic</th>
                <th scope="col">Subtopic</th>
                <th scope="col">Status</th>
                <th scope="col">Modified Date</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for k in subtopic %}
                {% if k.assigned_user_id != None %}
                    <tr>
                        <td>{{ k.assigned_user_id }}</td>
                        <td>{{ k.topic_id }}</td>
                        <td>{{ k.subtopic_name }}</td>
                        <td>
                            {% if k.subtopic_status == "WAITING" %}
                                <img src="{% static '/web-files/img/multiuse-svgs/waiting-yellow.svg' %}" width="18px"
                                     title="{{ k.subtopic_status|title }}">
                            {% elif k.subtopic_status == "ACCEPTED" %}
                                <img src="{% static '/web-files/img/multiuse-svgs/accepted.svg' %}" width="18px"
                                     title="{{ k.subtopic_status|title }}">
                            {% elif k.subtopic_status == "REJECTED" %}
                                <img src="{% static '/web-files/img/multiuse-svgs/rejected.svg' %}" width="18px"
                                     title="{{ k.subtopic_status|title }}">
                            {% else %}
                                {{ k.subtopic_status|title }} {% endif %}</td>
                        <td>{{ k.subtopic_modification_date }}</td>
                        <td><a href="{% url 'review-submissions-subtopic' k.subtopic_hash %}">View</a></td>
                        <td><a href="{% url 'messages' k.subtopic_hash %}"><img
                                {% for mess in messages %}
                                    {% if not mess.message_is_seen_staff and k.pk == mess.subtopic_id_id %}
                                        src="{% static '/web-files/img/multiuse-svgs/notification.svg' %}" height="40px"
                                    {% endif %}
                                {% endfor %}     src="{% static '/web-files/img/multiuse-svgs/message.svg' %}" alt="message" title="Send Message"></a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <hr>
    <br>
{% endblock %}
