{% extends 'base.html' %}
{% block title %} Review Submissions {% endblock %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "dashboard" %}
    {% breadcrumb "Review Submissions" "review-submissions" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    <div class="container">
        <h6>All Submissions: </h6>
        <h2>{{ first_internship.internship_topic }}</h2>
        <hr>
        <div class="row">
            <div class="col-6 col-sm-4">
                <form method="POST">
                    {% csrf_token %}
                    <label>Select Internship: </label>
                    <select name="search_internship" onchange="submit();">
                        {% if first_internship in internship %}
                            <option>{{ first_internship }}</option>
                        {% else %}
                            <option>Select Internship</option>
                        {% endif %}
                        {% for i in internship %}
                            {% if i != first_internship %}
                                <option value="{{ i.pk }}">{{ i.internship_topic }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </form>
            </div>
         OR
            <div class="col-6 col-sm-4">
                <form method="POST">
                    {% csrf_token %}
                    <label>Select Contributor: </label>
                    <select name="search_intern" onchange="submit();">
                        <option>Select Contributor</option>
                        {% for i in interns %}
                            <option value="{{ i.pk }}">{{ i.username }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
        <hr/>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">User Name</th>
                <th scope="col">Topic</th>
                <th scope="col">Subtopic</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for k in subtopic %}
                {% if k.assigned_user_id != None %}
                <tr>
                    <td>{{ k.assigned_user_id }}</td>
                    <td>{{ k.topic_id }}</td>
                    <td>{{ k.subtopic_name }}</td>
                    <td>{{ k.subtopic_status }}</td>
                    <td><a href="{% url 'review-submissions-subtopic' k.subtopic_hash %}">View</a></td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <hr>
    <br>
{% endblock %}
