{% extends 'base.html' %}
{% block title %} Review Submissions {% endblock %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "dashboard" %}
    {% breadcrumb "Review Submissions" "review-submissions" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    <div class="container">
        <h6>All Submissions: </h6>
        <h2>{{ first_internship.internship_topic }}</h2>
        <hr>
        <div class="align-self-center">
            <form method="POST">
                {% csrf_token %}
                <label>Select Internship: </label>
                <select name="search_internship" onchange="submit();">
                    {% if first_internship in internship %}
                        <option>{{ first_internship }}</option>
                    {% else %}
                        <option>Select Internship</option>
                    {% endif %}
                    {% for i in internship %}
                        {% if i != first_internship %}
                            <option value="{{ i.pk }}">{{ i.internship_topic }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </form>
        </div>
        <hr/>
        <div class="align-self-center">
            <form method="POST">
                {% csrf_token %}
                <label>Select Intern: </label>
                <select name="search_intern" onchange="submit();">
                    <option>Select Intern</option>
                    {% for i in interns %}
                        <option value="{{ i.user_id_id }}">{{ i.user_id }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <hr/>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">User Name</th>
                <th scope="col">Topic</th>
                <th scope="col">Subtopic</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for k in subtopic %}
                {% for j in assigned %}
                    {% if k.topic_id == j.topic_id and k.topic_id.internship_id_id == first_internship.pk %}
                        <tr>
                            <td>{{ j.user_id }}</td>
                            <td>{{ k.topic_id }}</td>
                            <td>{{ k.subtopic_name }}</td>
                            <td>{{ k.subtopic_status }}</td>
                            <td><a href="{% url 'review-submissions-subtopic' k.subtopic_hash %}">View</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <hr>
    <br>
{% endblock %}
