{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title %}Staff Assign Topics{% endblock %}
{% block content %}
    <section id="bc">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white text-dark">
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'index' %}">
                        <i class="fa fa-home" style="color:black"></i> Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'dashboard' %}">
                        <i class="fa fa-dashboard" style="color:black"></i> Dashboard</a>
                </li>
                <li class="breadcrumb-item active"> Assign Topics</li>
            </ol>
        </nav>
    </section>

    <!-- Page Content -->
    <div class="container">
        {% include 'partials/_alerts.html' %}

        <div class="row">
            <form method="POST">
                {% csrf_token %}
                <label>Select Internship : </label>
                <select name="search_internship" onchange="submit();">
                    <option>Select Internship</option>
                    {% for i in intern %}
                        <option value="{{ i.pk }}">{{ i.internship_topic }}</option>
                    {% endfor %}
                </select>
                {#                <button class="btn btn-primary">Search</button>#}
            </form>
        </div>
        <br/>
        <h2>{{ intern.internship_topic }}</h2>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Intern Name</th>
                <th>Topic</th>
                <th>Internship</th>
            </tr>
            </thead>
            <tbody>
            {% if interns %}
                {% for i in as_topic %}
                    <tr>
                        <td>
                            {{ i.user_id }}
                        </td>
                        <td>
                            {{ i.topic_id }}
                        </td>
                        <td>
                            {{ i.topic_id.internship_id }}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <hr>
        <div class="container">
            <h3>Assign Topic to interns</h3>
            <form method="POST" class="form-group" name="AssignTopics">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success" type="submit" name="submit" id="submit" value="Submit">
            </form>
        </div>
    </div>

    <!-- /.container -->
{% endblock %}