{% extends 'base.html' %}{% load crispy_forms_tags %} {% block title %}Staff View Topic{% endblock %}
{% load static %} {{ form.media }} {% load crispy_forms_tags %}
{% block content %}
    <style>
        tr:hover {
            background-color: #ddd;
        }
    </style>

    <section id="bc">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white text-dark">
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'index' %}">
                        <i class="fa fa-home" style="color:black"></i> Home</a>
                </li>

                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'dashboard' %}">
                        <i class="fa fa-dashboard" style="color:black"></i> Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'internship-progress' %}">
                        <i class="fa fa-pencil" style="color:black"></i> View Insternship
                    </a>
                </li>
                <li class="breadcrumb-item active"> Add Contributor Info : {{ subtopic.subtopic_name }}</li>
            </ol>
        </nav>
    </section>
    <hr>
    <div class="container">

        <h1>{{ assigned.topic_id.internship_id }}</h1>
        <br>
        <h3>{{ assigned.topic_id }}</h3>
        <br>
        <h6>Intern Name : {{ assigned.user_id }}</h6>
        <br>
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="username" value="{{ assigned.user_id }}">
            <input class="btn btn-primary" type="submit" value="Add Info">
        </form>

    </div>
    <br>
    <br>

{% endblock %}
