{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Intern Add Data{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "dashboard" %}
    {% breadcrumb "Review Submissions" "review-submissions" %}
    {% breadcrumb "View Data" "" %}
    {% breadcrumb "Update Image Size" "" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    {% load static %} {{ form.media }} {% load crispy_forms_tags %}

    <style>
        .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }


        .upload-btn-wrapper input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }

    </style>

    <div class="container">
        <div>
            <img src="{{ image.data_image.url }}" width="{{ image_size.image_width }}"
                 height="{{ image_size.image_height }}">
        </div>
        <br>
        <div>
            <form method="POST" name="data" enctype="multipart/form-data"><br>{% csrf_token %}

                {{ form.media }} {{ form.as_p }}

                <div class="upload-btn-wrapper">
                    <input class="btn btn-success" type="submit" name="submit" id="submit" value="Save">
                </div>
            </form>
        </div>
        <br>
        <div>
            <a href="{% url 'review-submissions-subtopic' image.subtopic_id.subtopic_hash %}" class="btn btn-success">back</a>
        </div>
        <br>
    </div>
{% endblock %}
