{% extends 'base.html' %}{% load crispy_forms_tags %} {% block title %}Staff Manage Intern{% endblock %}
{% block content %}
    {% if user.is_authenticated %} {% if user.is_staff %}
        <section id="bc">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white text-dark">
                    <li class="breadcrumb-item">
                        <a style="color:black" href="{% url 'index' %}">
                            <i class="fa fa-home" style="color:black"></i> Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a style="color:black" href="{% url 'dashboard' %}">
                            <i class="fa fa-dashboard" style="color:black"></i> Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Manage Interns</li>
                </ol>
            </nav>
        </section>

        <style>
            label {
                display: none;
            }
        </style>

        <div class="container">
            {% include 'partials/_alerts.html' %}

            <div class="" style="padding-top: 3%;">
                <hr> {% if assigned_topics %}
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Intern Name</th>
                        <th>Status</th>
                        <th>Internship</th>
                        <th>Topic</th>
                        <th>Set Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    {% for assigned_topic in assigned_topics %}
                        <tbody>
                        <tr>
                            <td>{{ assigned_topic.user_id }}</td>

                            <td>{{ assigned_topic.topic_id.user_id.user_status }}</td>

                            <td>{{ assigned_topic.topic_id.internship_id }}</td>

                            <td>{{ assigned_topic.topic_id }}</td>
                            <td class="row">
                                <form method="POST" class="form-group" name="ManageIntern">

                                    <input type="hidden" value="{{ assigned_topic.user_id }}"
                                           name="id"> {% csrf_token %} {{ form|crispy }}
                            <td>
                                <input class="btn btn-success" type="submit" name="submit" value="Submit">
                            </td>
                            </form>
                            </td>
                        </tr>

                        </tbody>

                    {% endfor %}
                </table>
            {% endif %}
            </div>
        </div>
        <br>
        <br>
    {% endif %} {% endif %} {% endblock %}