{% extends 'base.html' %} {% block title %}Staff Add Subtopic{% endblock %} {% block content %}
    <section id="bc">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white text-dark">
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'index' %}">
                        <i class="fa fa-home" style="color:black"></i> Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'dashboard' %}">
                        <i class="fa fa-dashboard" style="color:black"></i> Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'staff_add_topics' %}">
                        <i class="fa fa-dashboard" style="color:black"></i> Topic </a>
                </li>
                <li class="breadcrumb-item active"> Subtopics
                </li>
            </ol>
        </nav>
    </section>

    <!-- Page Content -->
    <div class="container">
        {% include 'partials/_alerts.html' %}
        <div class="container" style="padding-top: 3%;">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>
                        Topic : {{ i_topic.topic_name }}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for i in subtopics %}
                    {% if i.topic_id_id == i_topic.id %}
                        <tr>
                            <td>
                                {{ i.subtopic_name }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td>
                        <div class="row">
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ i_topic.id }}">
                                <label>New Sub topic : </label>{{ form.subtopic }}
                                <input type="submit" class="btn btn-success" value="Add">
                            </form>
                        </div>

                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <!-- /.container -->
{% endblock %}