{% extends 'base.html' %}{% load crispy_forms_tags %} {% block title %}Staff View Topic{% endblock %}
{% load static %} {{ form.media }} {% load crispy_forms_tags %}
{% block content %}
    <style>
        tr:hover {
            background-color: #ddd;
        }
    </style>

    <section id="bc">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white text-dark">
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'index' %}">
                        <i class="fa fa-home" style="color:black"></i> Index</a>
                </li>

                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'dashboard' %}">
                        <i class="fa fa-dashboard" style="color:black"></i> Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'staff_aprove_contents' %}">
                        <i class="fa fa-pencil" style="color:black"></i> Manage Submissions
                    </a>
                </li>
                <li class="breadcrumb-item active"> View Data : {{ subtopic.subtopic_name }}</li>
            </ol>
        </nav>
    </section>
    <hr>
    <div class="container">

        <script type="text/javascript" src="{% static " ckeditor/ckeditor-init.js " %}"></script>
        <script type="text/javascript" src="{% static " ckeditor/ckeditor/ckeditor.js " %}"></script>
        <script>
            window.CKEDITOR_BASEPATH = '/static/ckeditor/';
        </script>
<div style="background-color: lightcyan">
        <h1>Internship :{{ subtopic.topic_id.internship_id }}</h1>
        <h3>Topic :{{ subtopic.topic_id }}</h3>
        <h5>Subtopic : {{ subtopic.subtopic_name }}</h5>
        <br>
</div>
    <h2 style="background-color: yellow">Waiting contents</h2>
        <br>
        <table>
            {% for data in datas %}
                {% if data.data_status == "WAITING" %}
                <tr>
                    {% if data.data_content != "NULL" %}
                        <td>{{ data.data_content |safe }}</td>
                        <td>
                            <a class="btn btn-sm btn-danger"
                               href="{% url 'staff_delete_data' data.pk %}">Delete
                            </a>
                            <br>
                            <br>
                              <a class="btn btn-sm btn-primary" href="{% url 'staff_aprove_data' data.id %}">Aprove</a>
                            <br>
                            <br>
                            <a class="btn btn-sm btn-danger" href="{% url 'staff_reject_data' data.id %}">Reject</a>
                            <br>
                            <br>
                            <a class="btn btn-sm btn-primary"
                               href="{% url 'staff_update_data' data.pk %}">
                                Edit
                            </a>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    {% if data.data_image.url != "NULL" %}
                        <td>
                            <img src="{{ data.data_image.url }}" width='70%' style="display:block; margin:0 auto;" >
                        </td>
                        <td>
                            <a class="btn btn-sm btn-danger"
                               href="{% url 'staff_delete_data' data.pk %}">Delete
                            </a>
                            <br>
                            <br>
                              <a class="btn btn-sm btn-primary" href="{% url 'staff_aprove_data' data.id %}">Aprove</a>
                            <br>
                            <br>
                            <a class="btn btn-sm btn-danger" href="{% url 'staff_reject_data' data.id %}">Reject</a>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    {% if data.data_video.url != "NULL" %}
                        <td>
                            <video width='70%' style="display:block; margin:0 auto;"  controls>
                                <source src="{{ data.data_video.url }}" type='video/mp4'>
                                Your browser does not support the video tag.
                            </video>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-danger"
                               href="{% url 'staff_delete_data' data.pk %}">Delete
                            </a>
                            <br>
                            <br>
                          <a class="btn btn-sm btn-primary" href="{% url 'staff_aprove_data' data.id %}">Aprove</a>
                            <br>
                            <br>
                            <a class="btn btn-sm btn-danger" href="{% url 'staff_reject_data' data.id %}">Reject</a>
                        </td>
                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
        </table>
     <br>
    <h2 style="background-color: green">Aproved contents</h2>
        <br>
        <table>
            {% for data in datas %}
                {% if data.data_status == "ACCEPTED" %}
                <tr>
                    {% if data.data_content != "NULL" %}
                        <td>{{ data.data_content |safe }}</td>
                        <td>
                            <a class="btn btn-sm btn-danger"
                               href="{% url 'staff_delete_data' data.pk %}">Delete
                            </a>
                            <br>
                            <br>
                             <a class="btn btn-sm btn-primary" href="{% url 'staff_aprove_data' data.id %}">Aprove</a>
                            <br>
                            <br>
                            <a class="btn btn-sm btn-danger" href="{% url 'staff_reject_data' data.id %}">Reject</a>
                            <br>
                            <br>
                            <a class="btn btn-sm btn-primary"
                               href="{% url 'staff_update_data' data.pk %}">
                                Edit
                            </a>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    {% if data.data_image.url != "NULL" %}
                        <td>
                            <img src="{{ data.data_image.url }}" width='70%' style="display:block; margin:0 auto;" >
                        </td>
                        <td>
                            <a class="btn btn-sm btn-danger"
                               href="{% url 'staff_delete_data' data.pk %}">Delete
                            </a>
                            <br>
                            <br>
                            <a class="btn btn-sm btn-primary" href="{% url 'staff_aprove_data' data.id %}">Aprove</a>
                            <br>
                            <br>
                            <a class="btn btn-sm btn-danger" href="{% url 'staff_reject_data' data.id %}">Reject</a>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    {% if data.data_video.url != "NULL" %}
                        <td>
                            <video width='70%' style="display:block; margin:0 auto;"  controls>
                                <source src="{{ data.data_video.url }}" type='video/mp4'>
                                Your browser does not support the video tag.
                            </video>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-danger"
                               href="{% url 'staff_delete_data' data.pk %}">Delete
                            </a>
                            <br>
                            <br>
                              <a class="btn btn-sm btn-primary" href="{% url 'staff_aprove_data' data.id %}">Aprove</a>
                            <br>
                            <br>
                            <a class="btn btn-sm btn-danger" href="{% url 'staff_reject_data' data.id %}">Reject</a>
                        </td>
                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    <br>
      <h2 style="background-color: red">Rejected contents</h2>
        <br>
        <table>
            {% for data in datas %}
                {% if data.data_status == "REJECTED" %}
                <tr>
                    {% if data.data_content != "NULL" %}
                        <td>{{ data.data_content |safe }}</td>
                        <td>
                            <a class="btn btn-sm btn-danger"
                               href="{% url 'staff_delete_data' data.pk %}">Delete
                            </a>
                            <br>
                            <br>
                            <a class="btn btn-sm btn-primary" href="{% url 'staff_aprove_data' data.id %}">Aprove</a>
                            <br>
                            <br>
                            <a class="btn btn-sm btn-danger" href="{% url 'staff_reject_data' data.id %}">Reject</a>
                            <br>
                            <br>
                            <a class="btn btn-sm btn-primary"
                               href="{% url 'staff_update_data' data.pk %}">
                                Edit
                            </a>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    {% if data.data_image.url != "NULL" %}
                        <td>
                            <img src="{{ data.data_image.url }}" width='70%' style="display:block; margin:0 auto;" >
                        </td>
                        <td>
                            <a class="btn btn-sm btn-danger"
                               href="{% url 'staff_delete_data' data.pk %}">Delete
                            </a>
                            <br>
                            <br>
                             <a class="btn btn-sm btn-primary" href="{% url 'staff_aprove_data' data.id %}">Aprove</a>
                            <br>
                            <br>
                            <a class="btn btn-sm btn-danger" href="{% url 'staff_reject_data' data.id %}">Reject</a>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    {% if data.data_video.url != "NULL" %}
                        <td>
                            <video width='70%' style="display:block; margin:0 auto;"  controls>
                                <source src="{{ data.data_video.url }}" type='video/mp4'>
                                Your browser does not support the video tag.
                            </video>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-danger"
                               href="{% url 'staff_delete_data' data.pk %}">Delete
                            </a>
                            <br>
                            <br>
                             <a class="btn btn-sm btn-primary" href="{% url 'staff_aprove_data' data.id %}">Aprove</a>
                            <br>
                            <br>
                            <a class="btn btn-sm btn-danger" href="{% url 'staff_reject_data' data.id %}">Reject</a>
                        </td>
                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <br>
    <br>

{% endblock %}