{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Staff Assign Topics{% endblock %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb  "Dashboard" "dashboard" %}
    {% breadcrumb  "Assign Topics" "staff_assign_topic" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}

    <!-- Page Content -->
    <div class="container">
        {% include 'partials/_alerts.html' %}
        <div class="row">
        <h2>{{ chosen_inernship }}</h2> <br/>
    </div>

        <div class="row">
            <form method="POST">
                {% csrf_token %}
                <label>Select Internship: </label>
                <select name="search_internship" onchange="submit();">
                    {% if chosen_inernship in intern %}
                        <option>{{ chosen_inernship }}</option>
                    {% else %}
                        <option>Select Internship</option>
                    {% endif %}
                    {% for i in intern %}
                        {% if i != chosen_inernship %}
                            <option value="{{ i.pk }}">{{ i.internship_topic }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                {#                <button class="btn btn-primary">Search</button>#}
            </form>
        </div>
        <hr/>

        <div class="container">


            <h4>Assign Topic to interns</h4>
            <form method="POST" class="form-group" name="AssignTopics">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success" type="submit" name="submit" id="submit" value="Submit">
            </form>
        </div>
        <hr/>


        <br/>
        <h2>{{ intern.internship_topic }}</h2>
        <table class="table table-condensed">
            <thead class="thead-light">
            <tr>
                <th>Intern Name</th>
                <th>Topic</th>
                <th>Internship</th>
            </tr>
            </thead>
            <tbody>
            {% if interns %}
                {% for i in as_topic %}
                    <tr>
                        <td>
                            {{ i.user_id }}
                        </td>
                        <td>
                            {{ i.topic_id }}
                        </td>
                        <td>
                            {{ i.topic_id.internship_id }}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <hr>

    </div>

    <!-- /.container -->
{% endblock %}
