{% extends 'base.html' %} {% block title %}Topics{% endblock %} {% block content %}
    <section id="bc">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white text-dark">
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'index' %}">
                        <i class="fa fa-home" style="color:black"></i> Index</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'dashboard' %}">
                        <i class="fa fa-dashboard" style="color:black"></i> Dashboard</a>
                </li>
                <li class="breadcrumb-item active"> Add Topics</li>
            </ol>
        </nav>
    </section>

    <!-- Page Content -->
    <div class="container">
        {% include 'partials/_alerts.html' %}
        <div class="container" style="padding-top: 3%;">
            <table class="table table-condensed">
                {% for i in intern %}
                    <thead>
                    <tr>
                        <th>
                            Internship : {{ i.internship_topic }}
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tp in topic %}
                        {% if tp.internship_id_id == i.id %}
                            <tr>
                                <td>
                                    {{ tp.topic_name }}
                                </td>
                                <td>
                                    <a href="{% url 'staff_add_subtopic' tp.id %}">Add / View Subtopics</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td>
                            <form method="POST" class="form-group" name="AddTopic">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ i.id }}">
                                <label>New topic : &nbsp;</label>{{ form.topic }}
                                <input type="submit" class="btn btn-success" value="Add">
                            </form>
                        </td>
                        <td></td>
                    </tr>

                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>

    <!-- /.container -->
{% endblock %}