{% extends 'base.html' %}
{% block title %} Staff View Internship {% endblock %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "dashboard" %}
    {% breadcrumb "Internships" "staff_view_internship" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    <div class="container">

        <form method="POST">
            {% csrf_token %}
            <label>Select Internship: </label>
            <select name="search_internship" onchange="submit();">
                {% if chosen_internship in internship_all %}
                    <option>{{ chosen_internship }}</option>
                {% else %}
                    <option> ----</option>
                {% endif %}
                {% for i in internship_all %}
                    {% if i != chosen_internship %}
                        <option value="{{ i.pk }}">{{ i.internship_topic }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
        <br/>

        <table class="table">
            {% for i in internship %}
                <thead class="">
                <tr>
                    <th scope="col"><h3>{{ i.internship_topic }}</h3></th>
                    <th></th>
                </tr>
                </thead>
                {% for j in topics %}
                    {% if j.internship_id_id == i.id %}
                        <thead class="thead-light">
                        <tr>
                            <th scope="col"><h4>{{ j.topic_name }}</h4></th>
                            <th>
                                {% for k in assigned %}
                                    {% if k.topic_id_id == j.pk %}
                                        {{ k.user_id }} -
                                        <a href="{% url 'staff_add_contribution' j.pk %}">Contributor Info</a>
                                    {% else %}
                                    {% endif %}
                                {% endfor %}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <ol>
                                    {% for k in subtopics %}
                                        {% if k.topic_id_id == j.id %}
                                            <li>
                                                {% if k.subtopic_status == 'ACCEPTED' %}
                                                    <span style="color: green"> {{ k.subtopic_name }}</span>
                                                {% elif k.subtopic_status == 'WAITING' %}
                                                    <span style="color: yellow"> {{ k.subtopic_name }}</span>
                                                {% elif k.subtopic_status == 'REJECTED' %}
                                                    <span style="color: red"> {{ k.subtopic_name }}</span>
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </th>
                        </tr>
                        </tbody>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    </div>
    <br>
    <hr/>
    <br> {% endblock %}
