{% extends 'base.html' %}{% load crispy_forms_tags %} {% block title %}Staff Add Reviever{% endblock %}
{% block content %}
    <section id="bc">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white text-dark">
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'index' %}">
                        <i class="fa fa-home" style="color:black"></i> Index</a>
                </li>

                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'dashboard' %}">
                        <i class="fa fa-dashboard" style="color:black"></i> Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'staff_aprove_contents' %}">
                        <i class="fa fa-pencil" style="color:black"></i>Aprove Contents
                        - {{ data_info.subtopic_id.topic_id.internship_id }}
                    </a>
                </li>
                <li class="breadcrumb-item active"> View Data : {{ data_info.subtopic_id }}</li>
            </ol>
        </nav>
    </section>
    <hr>
    <div class="container">
        {% include 'partials/_alerts.html' %}
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>
                    <h3>Internship Name : {{ assigned_topic.topic_id.internship_id }}</h3>
                </th>
            </tr>
            </thead>
            <thead class="thread-light">
            <tr>
                <th>
                    <h4>Topic Name : {{ assigned_topic.topic_id }}</h4>
                </th>
            </tr>
            <tr>
                <th>
                    <h5>Sub topic : {{ data_info.subtopic_id }}</h5>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Post date : {{ data_info.data_post_date }}</th>
            </tr>
            <tr>
                <th>Status : {{ data_info.data_status }}</th>
            </tr>
            {% if ver %}
                <tr>
                    <th> Reviever : {{ ver.dataverification_verifier }}</th>
                </tr>
                <tr>
                    <th> Mentor : {{ ver.dataverification_mentor }}</th>
                </tr>
                <tr>
                    <th> Aproved On : {{ ver.dataverification_date }}</th>
                </tr>{% endif %}
            <tr>
                <td>
                    <form method="POST" class="form-group" name="ManageIntern">
                        <input type="hidden" value="{{ data_info.id }}" name="id"> {% csrf_token %} {{ form|crispy }}

                        <input class="btn btn-success" type="submit" name="submit" value="Submit">
                    </form>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
    <br>
    <hr>
    <br>
    <script>
        $(document).ready(function () {
            var content = $('#topic').text()
            $("#topic").html(content)
        })
    </script>

{% endblock %}