{% extends 'base.html' %} {% block title %}Staff Add Topics{% endblock %} {% block content %}
    <section id="bc">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white text-dark">
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'index' %}">
                        <i class="fa fa-home" style="color:black"></i> Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'dashboard' %}">
                        <i class="fa fa-dashboard" style="color:black"></i> Dashboard</a>
                </li>
                <li class="breadcrumb-item active"> Add Topics</li>
            </ol>
        </nav>
    </section>

    <!-- Page Content -->
    <div class="container">
        {% include 'partials/_alerts.html' %}

        <div class="row">
            <form method="POST">
                {% csrf_token %}
                <label>Select Internship : </label>
                <select name="search_internship">
                    {% for i in internship_all %}
                        <option value="{{ i.pk }}">{{ i.internship_topic }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-primary">Search</button>
            </form>
        </div>


        <div class="" style="padding-top: 3%;">
            <table class="table table-condensed">
                {% if internship %}
                    <thead>
                    <tr>
                        <th>
                            Internship : {{ internship.internship_topic }}
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tp in topic %}
                        {% if tp.internship_id_id == internship.id %}
                            <tr>
                                <td>
                                    {{ tp.topic_name }}
                                </td>
                                <td>
                                    <a href="{% url 'staff_add_subtopic' tp.id %}">Add / View Subtopics</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td>
                            <form method="POST" class="form-group" name="AddTopic">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ internship.id }}">
                                <label>New topic : &nbsp;</label>{{ form.topic }}
                                <input type="submit" class="btn btn-success" value="Add">
                            </form>
                        </td>
                        <td></td>
                    </tr>

                    </tbody>
                {% endif %}
            </table>
        </div>
    </div>

    <!-- /.container -->
{% endblock %}