{% extends 'base.html' %}{% load crispy_forms_tags %} {% block title %}Staff Manage Intern{% endblock %}
{% block content %}
    <section id="bc">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white text-dark">
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'index' %}">
                        <i class="fa fa-home" style="color:black"></i> Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'dashboard' %}">
                        <i class="fa fa-dashboard" style="color:black"></i> Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Manage Interns</li>
            </ol>
        </nav>
    </section>

    <style>
        label {
            display: none;
        }
    </style>

    <div class="container">
        {% include 'partials/_alerts.html' %}

        <div class="row">
            <form method="POST">
                {% csrf_token %}
                Select Internship :
                <select name="search_internship" onchange="submit();">
                    <option>Select Internship</option>
                    {% for i in internship_all %}
                        <option value="{{ i.pk }}">{{ i.internship_topic }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <br/>
        <div>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Intern Name</th>
                    <th>Status</th>
                    <th>Internship</th>
                    <th>Topic</th>
                    <th>Set Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for i in interns_in %}
                    <tr>
                        <td>{{ i.user_id }}</td>
                        <td>{{ i.topic_id.user_id.user_status }}</td>
                        <td>{{ i.topic_id.internship_id }}</td>
                        <td>{{ i.topic_id }}</td>
                        <td class="row">
                            <form method="POST" class="form-group" name="ManageIntern">
                                <input type="hidden" value=" assigned_topic.user_id "
                                       name="id"> {% csrf_token %} {{ form|crispy }}
                        <td>
                            <input class="btn btn-success" type="submit" name="submit" value="Submit">
                        </td>
                        </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
{% endblock %}