{% load crispy_forms_tags %} {% block title %}Staff View Topic{% endblock %}
{% load static %} {{ form.media }} {% load crispy_forms_tags %}
{% block content %}
    <style>
        tr:hover {
            background-color: #ddd;
        }
        .modal{
            margin-left: 186px;
        }
        .modal-content{
            width: 125%;
        }
    </style>


    <hr>
    <div class="container">

        <h1>{{ assigned.topic_id.internship_id }}</h1>
        <br>
        <h3>{{ assigned.topic_id }}</h3>
        <br>
        <h6>Intern Name : {{ assigned.user_id }}</h6>
        <br>
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="username" value="{{ assigned.user_id }}">
            <input class="btn btn-primary" type="submit" value="Add Info">
        </form>

    </div>
    <br>
    <br>

{% endblock %}