{% extends 'base.html' %}{% block title %}View Topic Details{% endblock %}{% block content %}

    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a style="color:black" href="{% url 'index' %}">
                            <i class="fa fa-home" style="color:black"></i> Index</a>
                    </li>
                    <li class="breadcrumb-item active"> View Topic Detail</li>
                </ol>
            </nav>
        </div>
    </section>
    <h1>Topic and details</h1>


{% endblock %}