{% extends 'base.html' %}
{% block title %} Staff Add Subtopic {% endblock %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb  "Dashboard" "dashboard" %}
    {% breadcrumb  "Add Topics" "staff_add_topics" %}
    {% breadcrumb  "Add Subtopics" "staff_add_subtopic" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}

    <!-- Page Content -->
    <div class="container">
        {% include 'partials/_alerts.html' %}
        <div class="container" style="padding-top: 3%;">
            <table class="table table-condensed">
                <thead class="thead-light">
                <tr>
                    <h2>{{ i_topic.internship_id }}</h2>
                </tr>
                <tr>
                    <th>
                        <h4>{{ i_topic.topic_name }}</h4>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ol>
                {% for i in subtopics %}
                    {% if i.topic_id_id == i_topic.id %}
                                <li>{{ i.subtopic_name }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </td>
    </tr>
                <tr>
                    <td>
                        <div class="row">
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ i_topic.id }}">
                                <label>New Sub topic: </label>{{ form.subtopic }}
                                <input type="submit" class="btn btn-success" value="Add">
                            </form>
                        </div>

                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <!-- /.container -->
{% endblock %}
