
{% extends 'base.html' %}{% block title %}Math{% endblock %}{% block content %}




<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <!-- /.row -->
    <!-- Call to Action Well -->
    <div class="card my-5 py-4 border border-white">
        <div class="card-body">
            <h1 class="serif">Real Analysis</h1>
            <p class=" m-0">Look up for a subtopic: <input type="text"/> <a class="btn btn-primary" href="#">Search</a>
            </p>
            <small class="float-right">Home > Real Analysis</small>
        </div>
    </div>

    <!-- Content Row -->
    <h2 class="serif">Contents</h2>
    <hr>
    <div class="row serif">
        <ol>
            <li>Introduction</li>
            <ul>
                <li><a href="real_number_line.html">The Real Number Line</a></li>
                <li>Chronicles of Epsilon</li>
            </ul>
            <li>Sets</li>
            <li>Basic Topology</li>
            <li>Introduction</li>
            <li>Sets</li>
            <li>Basic Topology</li>

            <li>Introduction</li>
            <li>Sets</li>
            <li>Basic Topology</li>
            <li>Introduction</li>
            <li>Sets</li>
            <li>Basic Topology</li>
            <li></li>
            <li></li>
            <li></li>
        </ol>

    </div><!-- row -->
    <br/>
    <br/>
    <hr/>
</div><!-- /.container -->
{% endblock %}