{% extends 'base.html' %} {% block title %}Topics{% endblock %} {% block content %}
<section id="bc" class="mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a style="color:black" href="{% url 'index' %}">
                        <i class="fa fa-home" style="color:black"></i> Index</a>
                </li>
                <li class="breadcrumb-item active"> Topics</li>
            </ol>
        </nav>
</section>

    <!-- Page Content -->
    <div class="container">

        <!-- Call to Action Well -->
        <div class="card my-5 py-4 border border-white">
            <div class="card-body">
                <div class="row">
                    <div class="colM">
                        <h3 class="serif">Search by Topic / SubTopic:</h3>
                    </div>
                    <div class="colM">
                        <input type="text"/>
                        <a class="btn btn-primary btn-sm" href="#">Search</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->
        <hr>
        <div class="row">

            <table class="table">
                <thead>
                <tr>
                    <h2> Topic : </h2>
                </tr>
                </thead>
                <tbody>

                    <tr>
                        <th></th>
                        <th scope="row"> i.subtopic</th>
                        <th>
                            <button>View</button>
                        </th>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
    <!-- /.container -->
{% endblock %}