{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add Users{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "dashboard" %}
    {% breadcrumb "Update Profile" "update-user" %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %} {% if user.is_superuser %}
        {% render_breadcrumbs %}
        <div class="container">
            <br>
            <form method="GET" action=".">
                <div class="row">
                    <h5>Search Users:</h5> &nbsp;
                    <input class="form-control py-2 border col-lg-3" type="search" name="title_contains"
                           placeholder="Search (UserName, Intern, Staff)"/> &nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
        <div class="container">



        </div>
        <br>
    {% endif %}
    {% endif %}
{% endblock %}
