.navbar-toggler-icon {
    color: white;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px
}

.bs-callout-right {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-right-width: 5px;
    border-radius: 3px
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.bs-callout-right h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.bs-callout p:last-child {
    margin-bottom: 0
}

.bs-callout-right p:last-child {
    margin-bottom: 0
}

.bs-callout code {
    border-radius: 3px
}

.bs-callout-right code {
    border-radius: 3px
}

.bs-callout + .bs-callout {
    margin-top: -5px
}

.bs-callout-right + .bs-callout-right {
    margin-top: -5px
}

.bs-callout-default .bs-callout-right-default {
    border-left-color: #777
}

.bs-callout-right-default {
    border-right-color: #777
}

.bs-callout-default h4 {
    color: #777
}

.bs-callout-right-default h4 {
    color: #777
}

.bs-callout-primary {
    border-left-color: #428bca
}

.bs-callout-right-primary {
    border-right-color: #428bca
}

.bs-callout-primary h4 {
    color: #428bca
}

.bs-callout-right-primary h4 {
    color: #428bca
}

.bs-callout-success {
    border-left-color: #5cb85c
}

.bs-callout-right-success {
    border-right-color: #5cb85c
}

.bs-callout-success h4 {
    color: #5cb85c
}

.bs-callout-right-success h4 {
    color: #5cb85c
}

.bs-callout-danger {
    border-left-color: #d9534f
}

.bs-callout-right-danger {
    border-right-color: #d9534f
}

.bs-callout-danger h4 {
    color: #d9534f
}

.bs-callout-right-danger h4 {
    color: #d9534f
}

.bs-callout-warning {
    border-left-color: #f0ad4e
}

.bs-callout-right-warning {
    border-right-color: #f0ad4e
}

.bs-callout-warning h4 {
    color: #f0ad4e
}

.bs-callout-right-warning h4 {
    color: #f0ad4e
}

.bs-callout-info {
    border-left-color: #5bc0de
}

.bs-callout-right-info {
    border-right-color: #5bc0de
}

.bs-callout-info h4 {
    color: #5bc0de
}

.bs-callout-right-info h4 {
    color: #5bc0de
}

.nav-link{
    border-bottom: 3px solid #f8f8f8;
}

.nav-link:hover {
    border-bottom: 3px solid orange;
    background: white;
}

.ac.active {
    border-bottom: 3px solid orange;
    background: white;
}