/* start of side navbar */
.sidenav {
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 5;
  left: 0;
  margin-bottom: 10%;
  height: 100%;
  background-color: #111;
  overflow-x: hidden;

}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* end of side navbar */