.vscode/
.idea/
venv/*
*.sqlite3
__pycache__/*
FOSSEE_math/__pycache__/*
FOSSEE_math/__pycache__
fossee_math_pages/__pycache__/*
fossee_math_pages/__pycache__
https:/*
fossee_math_pages/migrations/*
__pycache__
