.vscode/
.idea/
venv/*
*.sqlite3
*.gif
*.mp4
media/*
__pycache__/*
FOSSEE_math/__pycache__/*
FOSSEE_math/__pycache__
fossee_math_pages/__pycache__/*
fossee_math_pages/__pycache__
https:/*
fossee_math_pages/migrations/*
__pycache__
*.pyc
.coverate_report