.vscode/
.idea/
venv/*
*.sqlite3
*.png
*.gif
*.jpg
*.mp4
__pycache__/*
FOSSEE_math/__pycache__/*
FOSSEE_math/__pycache__
fossee_math_pages/__pycache__/*
fossee_math_pages/__pycache__
https:/*
fossee_math_pages/migrations/*
__pycache__
*.pyc
static/web-files/img/multiuse-svgs/*
coverate_report.txt