{% load static %}{% load staticfiles %}
<div class="container" style="margin-top: 10%;">
    <hr>
    <p class="text-center">
    <small>The work under this website is licenced under a Creative Commons Attribution-Share Alike 4.0 International License <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA</a>
    <img src="{%static 'web-files/img/logos/cc-licence.png' %}" height="20px" title="CC Attribution Share Alike"></small>
    </p>
</div>
<footer class="py-5 h-10" id="py-5" style="background-color:#ebebeb; width: 100%; margin-top: auto;">
    <div class="container">
        <div class="container">
            <center>
                <a href="http://www.fossee.in"><img id="fossee" src="{% static '/web-files/img/logos/fossee_logo.png' %}"
                                                    width="175px" class="pl-4" alt=""/></a>
                &nbsp;&nbsp;
                <a href="http://www.iitb.ac.in"><img id="iitb" src="{% static '/web-files/img/logos/iitb_logo.png' %}"
                                                     width="100px" class="pl-4" alt=""/></a>

                <a href="http://animations.fossee.in"><img id="animations"
                                                           src="{% static '/web-files/img/logos/dark_animations_logo.png' %}"
                                                           width="220px" class="pl-4" alt=""></a>
            </center>
        </div>
        <hr>
        <p class="m-0 text-center text-black small" style="color: black">The FOSSEE project is funded by the National Mission on Education
            through ICT, MoE (Ministry of Education), Government of India. </p>
    </div>
    <!-- /.container -->
</footer>
