{% load static %}
<!-- <style>
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #py-5 {
        text-align: center;
        font-weight: bold;
        position: fixed;
        bottom: 0;
        width: 100%;
        transition: 0.2s;
        color: white;
    }
</style> -->
<footer class="py-5" id="py-5" style="background-color:#222222; width: 100%;">
    <div class="container">
        <div class="container">
            <center>
                <a href="http://www.fossee.in"><img id="fossee"
                                                    src="https://fossee.in/sites/all/themes/software_responsive_theme/img/logo.png"
                                                    width="90px" class="pl-4"/></a>
                <a href="http://www.iitb.ac.in"><img id="iitb" src="https://www.ee.iitb.ac.in/web/iitblogowhite.png"
                                                     width="60px" class="pl-4"/></a>
                <a href="http://animations.fossee.in"><img id="animations"
                                                           src="https://animations.fossee.in/static/img/logo_main.png"
                                                           width="90px" class="pl-4"></a>
            </center>
        </div>
        <p class="m-0 text-center text-white small">The FOSSEE project is funded by the National Mission on Education
            through ICT, MHRD, Government of India. This work is licensed under a Creative Commons
            Attribution-ShareAlike 4.0 International License</p>
    </div>
    <!-- /.container -->
</footer>
<!-- <script>
    // When the user scrolls down 50px from the top of the document, resize the header's font size
    window.onscroll = function() {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            document.getElementById("py-5").style.fontSize = "15px";
            document.getElementById("py-5").style.height = "15%";
            document.getElementById("fossee").style.visibility = 'hidden';
            document.getElementById("iitb").style.visibility = 'hidden';
            document.getElementById("animations").style.visibility = 'hidden';
        } else {
            document.getElementById("py-5").style.fontSize = "23px";
            document.getElementById("py-5").style.paddingBottom = "10px";
            document.getElementById("py-5").style.height = "20%";
            document.getElementById("fossee").style.height = "5%";
            document.getElementById("iitb").style.height = "5%";
            document.getElementById("animations").style.height = "5%";
            document.getElementById("fossee").style.visibility = 'visible';
            document.getElementById("iitb").style.visibility = 'visible';
            document.getElementById("animations").style.visibility = 'visible';

        }
    }
</script> -->