{% load static %}{% load staticfiles %}
<footer class="py-5 h-10" id="py-5" style="background-color:#ebebeb; width: 100%; margin-top: auto;">
    <div class="container">
        <div class="container">
            <center>
                <a href="http://www.fossee.in"><img id="fossee" src="{% static '/web-files/img/fossee_logo.png' %}"
                                                    width="175px" class="pl-4"/></a>
                &nbsp;&nbsp;
                <a href="http://www.iitb.ac.in"><img id="iitb" src="{% static '/web-files/img/iitb_logo.png' %}"
                                                     width="100px" class="pl-4"/></a>

                <a href="http://animations.fossee.in"><img id="animations"
                                                           src="{% static '/web-files/img/dark_animations_logo.png' %}"
                                                           width="220px" class="pl-4"></a>
            </center>
        </div>
        <hr>
        <p class="m-0 text-center text-black small">The FOSSEE project is funded by the National Mission on Education
            through ICT, MHRD, Government of India. This work is licensed under a Creative Commons
            Attribution-ShareAlike 4.0 International License</p>
    </div>
    <!-- /.container -->
</footer>