{% load static %}{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <style>
        .serif {
            font-family: "Lora", serif;
        }
    </style>
    <!-- Style sheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap"
          rel="stylesheet">

</head>
<title>FOSSEE Animations | {% block title %}{% endblock %}</title>

<body>
<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-center" style="background-color: #f8f8f8;">
    <div class="">
        <img src="{% static 'web-files/img/main_logo_dark.png' %}" width="150" alt="">
        <!--<img src="https://i.imgur.com/erl95rM.png" width="150"/>-->
        <a class="navbar-brand text-black-50 serif" href=""> &nbsp;&nbsp; <i><b>Mathematics</b></i></a>
    </div>
</nav>

<!-- Body -->
{% block content %}

{% endblock %}

<!-- footer -->
<footer class="py-5 h-10" id="py-5" style="background-color:#ebebeb; width: 100%; margin-top: auto;">
    <div class="container">
        <div class="container">
            <center>
                <a href="http://www.fossee.in"><img id="fossee" src="{% static '/web-files/img/fossee_logo.png' %}"
                                                    width="175px" class="pl-4" alt=""/></a>
                &nbsp;&nbsp;
                <a href="http://www.iitb.ac.in"><img id="iitb" src="{% static '/web-files/img/iitb_logo.png' %}"
                                                     width="100px" class="pl-4" alt=""/></a>

                <a href="http://animations.fossee.in"><img id="animations"
                                                           src="{% static '/web-files/img/dark_animations_logo.png' %}"
                                                           width="220px" class="pl-4" alt=""></a>
            </center>
        </div>
        <hr>
        <p class="m-0 text-center text-black small">The FOSSEE project is funded by the National Mission on Education
            through ICT, MHRD, Government of India. This work is licensed under a Creative Commons
            Attribution-ShareAlike 4.0 International License</p>
    </div>
    <!-- /.container -->
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script> <!-- why twice??? -->

</body>

</html>
