{% extends 'password_reset/password_base.html' %}
{% block title %}Activate Account{% endblock %}
{% block content %}

    <div class="container" align="justify" style="margin-top:100px;margin-bottom:100px;">
        <br> {% include 'partials/_alerts.html' %}

        <center>
            <h1>Activate Your account</h1>
            <hr>
            We recomend you to set your password on first login !
            <br>
            <br>
            <div class="container" style="font-family: 'Lato', sans-serif;">
                <form method="post">
                    {% csrf_token %}
                    <table class="table" style="margin: auto; width: 50%;">
                        {{ form.as_table }}
                    </table>
                    <button class="btn " type="submit"
                            style="background-color:#e45700;color:white;">Set Password
                    </button>
                </form>
            </div>
        </center>
    </div>

    <script>
        var txt = document.getElementsByTagName('label')
        if (txt[0].innerText.toString() !== "ACTIVATION Code: ") {
            txt[0].innerText = "ACTIVATION Code: "
        }
    </script>

{% endblock %}
