  <nav class="navbar navbar-expand-lg" style="background-color:#222222">
    <div class="container">
      <img src="https://animations.fossee.in/static/img/logo_main.png" width="150">
      <a class="navbar-brand text-white serif" href="/"> &nbsp;&nbsp; <i><b>Mathematics</b></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse serif" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link " href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/#Topics">Topics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="http://animations.fossee.in">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/Internship">Internship</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
