<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container-fluid jumbotron" align="justify" style="margin-top:20px; background-color: #e7edee;">
    <center>
        <h1>Login</h1>
        <hr>
        <div class="container" style="font-family: 'Lato', sans-serif;">
            <form method="post" >
                				{% csrf_token %}
                <table class="table table-bordered">
                    {{ form.as_table }}
                    <br>
                    <br>
                </table>
                <button class="btn btn-success btn-sm" type="submit"
                        style="background-color:#e45700;color:white; border:0px">Login
                </button>
            </form>
        </div>
              <a href="" class="btn btn-default btn-sm" style="color:#157b80; ">Forgot
                    Password?</a>
            <br>
    </center>
    <br>
</div>
</body>
</html>