<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

<!--<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?..."></script>-->
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


<link href="https://fonts.googleapis.com/css?family=Lora:400,400i&display=swap" rel="stylesheet">


  <title>FOSSEE Animations | Real Analysis</title>
  <style> 
  	.serif {
  font-family: "Lora", serif;
}</style>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg" style="background-color:#222222">
    <div class="container">
      <a class="navbar-brand" href="#">FOSSEE Animations | Math</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Topics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Internship</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
 <div class="container">

    <!-- Heading Row -->
    <!-- /.row -->
    <!-- Call to Action Well -->
    <div class="card my-5 py-4 border border-white">
      <div class="card-body">
	<h1 class="serif">Real Analysis</h1>
        <p class=" m-0">Look up for a subtopic: <input type="text"/>        <a class="btn btn-primary" href="#">Search</a></p>
        <small class="float-right">Home > Real Analysis > Real Number Line</small> 
      </div>
    </div>

    <!-- Content Row -->
<h2 class="serif">Real Number Line</h2><hr>
<div class="row serif">

  <div class="card border-dark mb-4 col-md-12">
  <div class="card-body text-dark">
    <h5 class="card-title serif">Definition</h5>
    <p class="card-text serif">
     <div lang="latex"> 
        Let \( V \) be a vector space. Then a set of vectors \( x_1, x_2, \dots, x_n \in V \) are linearly dependent iff the set of scalars \( c_1, c_2, \dots, c_n \) not all zero and
        $$ \sum^n_{i=1} c_i x_i = 0$$ 
      </div>

    </p>
  </div>
</div>

<div class="col-md-12">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis dui sit amet purus ultricies tincidunt. Pellentesque pharetra semper imperdiet. Duis tempus, velit vitae molestie rhoncus, quam ante feugiat erat, posuere faucibus dui orci sed sem. Sed volutpat odio ac justo vulputate, a pellentesque augue malesuada. Pellentesque vulputate cursus ante vel dictum. Curabitur tortor mauris, vulputate vitae mattis sed, mollis et est. Vivamus pellentesque justo id pretium fermentum. Nullam hendrerit enim viverra, tincidunt nibh ullamcorper, mattis ante. Quisque congue nisi nec mollis placerat. Praesent nisl enim, pulvinar sed aliquam sed, pulvinar nec sem. Proin id sodales nisl, id mattis lorem. Praesent quis quam odio.<br/>

        <div class="text-center embed-responsive embed-responsive-16by9">
           <video controls>
            <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
              Your browser does not support the video tag.
          </video> 
        </div>

        <br/>
        Nam massa diam, placerat ut euismod at, rhoncus nec orci. Donec fermentum rhoncus nunc at malesuada. Quisque commodo lorem id eros lobortis porta. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam pharetra, ligula non congue vehicula, turpis nunc ornare nunc, quis iaculis turpis urna ut magna. Donec eget magna neque. Nullam pulvinar erat odio, quis accumsan velit efficitur ac. Duis urna justo, blandit eu interdum id, gravida at elit. Nunc cursus at ipsum consectetur luctus. Proin elementum risus sed velit iaculis aliquam. Praesent vulputate metus a ligula pulvinar, sit amet blandit arcu scelerisque. Fusce quam erat, hendrerit vitae semper ut, facilisis non leo. Duis ac felis nunc. Nullam diam sem, maximus nec velit et, ullamcorper sodales tortor. Donec lobortis massa nec sem mattis laoreet.
        <br/>
        Morbi fringilla arcu et lacus dignissim, id eleifend nisi posuere. Fusce pretium lacus arcu, nec lacinia metus suscipit non. Nulla convallis ultricies ligula nec ullamcorper. Suspendisse potenti. Phasellus viverra est dui, non tempus felis dictum porttitor. Donec lacus ex, tincidunt ac laoreet ac, mollis non orci. Nulla nec mauris quam.
        <br/>
        Nam suscipit tempus mauris. Duis interdum finibus est nec porta. Nunc sollicitudin augue ligula, vitae venenatis mauris scelerisque et. Nulla semper tincidunt fermentum. Nam non lorem vitae elit molestie auctor quis vel nisi. Morbi at elit purus. In porttitor commodo nulla interdum facilisis. Curabitur mattis eros at quam laoreet, ac gravida lectus consectetur. Etiam magna dolor, pulvinar non euismod vitae, vulputate eget turpis.
        <br/>
        Proin faucibus augue id orci vehicula, nec dapibus odio tincidunt. Morbi eget orci vel leo vulputate lacinia et eget eros. Morbi non libero neque. Cras eros lectus, gravida a commodo non, pharetra id ligula. In facilisis, risus vitae interdum bibendum, lectus lectus varius nulla, eu bibendum nulla erat id magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean blandit mi at arcu vestibulum finibus. Nunc sed varius lacus. Donec fringilla mi turpis, sed vehicula nulla iaculis et. Aliquam convallis elit elit, quis tempus libero dignissim vitae. Aenean congue laoreet urna a egestas. Curabitur a elit sit amet nunc euismod placerat. Nam facilisis turpis in arcu scelerisque, vel venenatis nisl tempor. Nunc eu rhoncus est. <br/>

        <div class="text-center embed-responsive embed-responsive-16by9"  >
           <video controls>
            <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
              Your browser does not support the video tag.
          </video> 
        </div>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis dui sit amet purus ultricies tincidunt. Pellentesque pharetra semper imperdiet. Duis tempus, velit vitae molestie rhoncus, quam ante feugiat erat, posuere faucibus dui orci sed sem. Sed volutpat odio ac justo vulputate, a pellentesque augue malesuada. Pellentesque vulputate cursus ante vel dictum. Curabitur tortor mauris, vulputate vitae mattis sed, mollis et est. Vivamus pellentesque justo id pretium fermentum. Nullam hendrerit enim viverra, tincidunt nibh ullamcorper, mattis ante. Quisque congue nisi nec mollis placerat. Praesent nisl enim, pulvinar sed aliquam sed, pulvinar nec sem. Proin id sodales nisl, id mattis lorem. Praesent quis quam odio.<br/>
        <br/>
        Nam massa diam, placerat ut euismod at, rhoncus nec orci. Donec fermentum rhoncus nunc at malesuada. Quisque commodo lorem id eros lobortis porta. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam pharetra, ligula non congue vehicula, turpis nunc ornare nunc, quis iaculis turpis urna ut magna. Donec eget magna neque. Nullam pulvinar erat odio, quis accumsan velit efficitur ac. Duis urna justo, blandit eu interdum id, gravida at elit. Nunc cursus at ipsum consectetur luctus. Proin elementum risus sed velit iaculis aliquam. Praesent vulputate metus a ligula pulvinar, sit amet blandit arcu scelerisque. Fusce quam erat, hendrerit vitae semper ut, facilisis non leo. Duis ac felis nunc. Nullam diam sem, maximus nec velit et, ullamcorper sodales tortor. Donec lobortis massa nec sem mattis laoreet.
        <br/>
        Morbi fringilla arcu et lacus dignissim, id eleifend nisi posuere. Fusce pretium lacus arcu, nec lacinia metus suscipit non. Nulla convallis ultricies ligula nec ullamcorper. Suspendisse potenti. Phasellus viverra est dui, non tempus felis dictum porttitor. Donec lacus ex, tincidunt ac laoreet ac, mollis non orci. Nulla nec mauris quam.
        <br/>
        Nam suscipit tempus mauris. Duis interdum finibus est nec porta. Nunc sollicitudin augue ligula, vitae venenatis mauris scelerisque et. Nulla semper tincidunt fermentum. Nam non lorem vitae elit molestie auctor quis vel nisi. Morbi at elit purus. In porttitor commodo nulla interdum facilisis. Curabitur mattis eros at quam laoreet, ac gravida lectus consectetur. Etiam magna dolor, pulvinar non euismod vitae, vulputate eget turpis.
        <br/>
        Proin faucibus augue id orci vehicula, nec dapibus odio tincidunt. Morbi eget orci vel leo vulputate lacinia et eget eros. Morbi non libero neque. Cras eros lectus, gravida a commodo non, pharetra id ligula. In facilisis, risus vitae interdum bibendum, lectus lectus varius nulla, eu bibendum nulla erat id magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean blandit mi at arcu vestibulum finibus. Nunc sed varius lacus. Donec fringilla mi turpis, sed vehicula nulla iaculis et. Aliquam convallis elit elit, quis tempus libero dignissim vitae. Aenean congue laoreet urna a egestas. Curabitur a elit sit amet nunc euismod placerat. Nam facilisis turpis in arcu scelerisque, vel venenatis nisl tempor. Nunc eu rhoncus est. 
        <br/>

        <div class="text-center embed-responsive embed-responsive-16by9"  >
           <video controls>
            <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
              Your browser does not support the video tag.
          </video> 
        </div>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis dui sit amet purus ultricies tincidunt. Pellentesque pharetra semper imperdiet. Duis tempus, velit vitae molestie rhoncus, quam ante feugiat erat, posuere faucibus dui orci sed sem. Sed volutpat odio ac justo vulputate, a pellentesque augue malesuada. Pellentesque vulputate cursus ante vel dictum. Curabitur tortor mauris, vulputate vitae mattis sed, mollis et est. Vivamus pellentesque justo id pretium fermentum. Nullam hendrerit enim viverra, tincidunt nibh ullamcorper, mattis ante. Quisque congue nisi nec mollis placerat. Praesent nisl enim, pulvinar sed aliquam sed, pulvinar nec sem. Proin id sodales nisl, id mattis lorem. Praesent quis quam odio.<br/>
        <br/>
        Nam massa diam, placerat ut euismod at, rhoncus nec orci. Donec fermentum rhoncus nunc at malesuada. Quisque commodo lorem id eros lobortis porta. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam pharetra, ligula non congue vehicula, turpis nunc ornare nunc, quis iaculis turpis urna ut magna. Donec eget magna neque. Nullam pulvinar erat odio, quis accumsan velit efficitur ac. Duis urna justo, blandit eu interdum id, gravida at elit. Nunc cursus at ipsum consectetur luctus. Proin elementum risus sed velit iaculis aliquam. Praesent vulputate metus a ligula pulvinar, sit amet blandit arcu scelerisque. Fusce quam erat, hendrerit vitae semper ut, facilisis non leo. Duis ac felis nunc. Nullam diam sem, maximus nec velit et, ullamcorper sodales tortor. Donec lobortis massa nec sem mattis laoreet.
        <br/>
        Morbi fringilla arcu et lacus dignissim, id eleifend nisi posuere. Fusce pretium lacus arcu, nec lacinia metus suscipit non. Nulla convallis ultricies ligula nec ullamcorper. Suspendisse potenti. Phasellus viverra est dui, non tempus felis dictum porttitor. Donec lacus ex, tincidunt ac laoreet ac, mollis non orci. Nulla nec mauris quam.
        <br/>
        Nam suscipit tempus mauris. Duis interdum finibus est nec porta. Nunc sollicitudin augue ligula, vitae venenatis mauris scelerisque et. Nulla semper tincidunt fermentum. Nam non lorem vitae elit molestie auctor quis vel nisi. Morbi at elit purus. In porttitor commodo nulla interdum facilisis. Curabitur mattis eros at quam laoreet, ac gravida lectus consectetur. Etiam magna dolor, pulvinar non euismod vitae, vulputate eget turpis.
        <br/>
        Proin faucibus augue id orci vehicula, nec dapibus odio tincidunt. Morbi eget orci vel leo vulputate lacinia et eget eros. Morbi non libero neque. Cras eros lectus, gravida a commodo non, pharetra id ligula. In facilisis, risus vitae interdum bibendum, lectus lectus varius nulla, eu bibendum nulla erat id magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean blandit mi at arcu vestibulum finibus. Nunc sed varius lacus. Donec fringilla mi turpis, sed vehicula nulla iaculis et. Aliquam convallis elit elit, quis tempus libero dignissim vitae. Aenean congue laoreet urna a egestas. Curabitur a elit sit amet nunc euismod placerat. Nam facilisis turpis in arcu scelerisque, vel venenatis nisl tempor. Nunc eu rhoncus est. 
</div>
</div><!-- row -->
<br/>
<br/>
<div id="whatsnext serif">
  <a href="{}" class="float-left">Previous {Name}</a>
  <a href="{}" class="float-right">Next {Name}</a>
</div><br/>
<hr/>
<div class="align-right">
  <p class="serif"><i>
  <b>Contributor:</b> Someone Someone<br/>
  <b>Mentor:</b> {Someone Someone}<br/>
  <b>Verified by:</b> Prof. <br/>
  <b>GitHub:</b> <a href="https://github.com/something">https://github.com/something</a>
  </i></p>

  <small class="serif"> <i>The following notes and their corrosponding animations was created by the above-mentioned contributor under the FOSSEE Animations Internship.</i></small>
  <br/>
  <hr/>
</div>
</div><!-- /.container -->
  

  <!-- Footer -->
  <footer class="py-5" style="background-color:#222222">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
