<!DOCTYPE html>
<html lang="en">

<head>
 {% include 'head.html' %}
<script type="text/javascript">
  window.MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  }
};
</script>




 <title>FOSSEE Animations | Real Analysis</title>
</head>

<body>
  <!-- Navigation -->
  {% include 'header.html' %}

  <!-- Page Content -->
 <div class="container">

    <div class="card my-5 py-4 border border-white">
      <div class="card-body">
	<h1 class="serif">Real Analysis</h1>
        <p class=" m-0">Look up for a subtopic: <input type="text"/>
           <a class="btn btn-primary" href="#">Search</a></p>
  <small class="float-right"> <a href="/">Home</a> > Real Analysis</small> 
      </div>
    </div>

    <!-- Content Row -->
<h2 class="serif">Contents</h2>
<hr>
<div class="row serif">
  
<ol>
  {% for content in contents %}
    <li>{{ content['name'] }}</li>
    <ul>
      {% for subtopic in content['subtopics'] %}
      <a href="{{ url_for('static', filename='realanalysis/') }}{{ content['name'] }}/{{ subtopic[1] }}/{{ subtopic[1]}}.html"><li>{{ subtopic[0] }}</li></a>
      {% endfor %}
    </ul>
  {% endfor %}
</ol>

</div><!-- row -->
<br/>
<br/>
<hr/>
</div><!-- /.container -->
  
  {% include 'footer.html' %}

</body>

</html>
