<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


<link href="https://fonts.googleapis.com/css?family=Lora:400,400i&display=swap" rel="stylesheet">


  <title>FOSSEE Animations | Real Analysis</title>
  <style> 
  	.serif {
  font-family: "Lora", serif;
}</style>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg" style="background-color:#222222">
    <div class="container">
      <a class="navbar-brand" href="#">FOSSEE Animations | Math</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Topics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Internship</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
 <div class="container">

    <!-- Heading Row -->
    <!-- /.row -->
    <!-- Call to Action Well -->
    <div class="card my-5 py-4 border border-white">
      <div class="card-body">
	<h1 class="serif">Real Analysis</h1>
        <p class=" m-0">Look up for a subtopic: <input type="text"/>        <a class="btn btn-primary" href="#">Search</a></p>
<small class="float-right">Home > Real Analysis</small> 
      </div>
    </div>

    <!-- Content Row -->
<h2 class="serif">Contents</h2>
<hr>
<div class="row serif">
  <ol>
    <li>Introduction</li>
          <ul>
            <li><a href="real_number_line.html">The Real Number Line</a></li>
            <li>Chronicles of Epsilon</li>
          </ul>
    <li>Sets</li>
    <li>Basic Topology</li>
    <li>Introduction</li>
    <li>Sets</li>
    <li>Basic Topology</li>

    <li>Introduction</li>
    <li>Sets</li>
    <li>Basic Topology</li>
        <li>Introduction</li>
    <li>Sets</li>
    <li>Basic Topology</li>
    <li></li>
    <li></li>
    <li></li>
  </ol>

</div><!-- row -->
<br/>
<br/>
<hr/>
</div><!-- /.container -->
  

  <!-- Footer -->
  <footer class="py-5" style="background-color:#222222">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
